
#team-team figure{
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  height:5%;
}
#team-team figure:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
}
#team-team figure  h2{
  font-size: medium;
}
#team-team figure  p{
  font-size: smaller;
}


 #team-team figure  p, #team-team figure  h2 {
  color: grey;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,10%,0);
  transform: translate3d(0,10%,0);
}
#team-team figure:hover p, #team-team figure:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

#Layer_2{
  height:10%;
}
.parallax-window{
  margin-top: -10em;
}

#navbarSupportedContent{
  margin-left: 13vw;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: -3%;
  margin-bottom: -6%;
  mix-blend-mode: multiply;

}

h3{
   font-size:230%;
   margin-left:-20%;
}
.job-content h5{
  text-align: center;
}

  #jumbotron-text-two{
    margin-top: 45%;
    color:white;
    font-size:265%;
    text-align: center;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    width:30%;
    padding-bottom: 4%;
    padding-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -6%;

  }

.top-nav-collapse {
  background-color: white;
  color:black;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;

  border-radius: 50%;
  margin-left: 3.5%;

}
.fa:hover {
    opacity: 0.7;
    color: black;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}



.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
#icon-container{
  margin-top: -6.2%;
}
#benefits-text{
  font-size: 130%;
  margin-top: 3%;
  text-align: left;
  margin-left: 10%;
}
#pagebreak{
  /* margin-bottom: -8vh; */
  mix-blend-mode: multiply;
}
.collapse h5{
  text-align: center;
}


.scrollbar-deep-purple::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #c83e2c;
  border-radius: 10px; }

.scrollbar-deep-purple::-webkit-scrollbar {
  width: 12px;
  background-color: #c83e2c; }

.scrollbar-deep-purple::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: red; }

.scrollbar-cyan::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-cyan::-webkit-scrollbar {
  width: 12px;
  background-color: #c83e2c; }

.scrollbar-cyan::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 60 rgba(0, 0, 0, 0.1);
  background-color: #c83e2c; }

.scrollbar-dusty-grass::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-dusty-grass::-webkit-scrollbar {
  width: 12px;
  background-color: red; }

.scrollbar-dusty-grass::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #d4fc79 0%, #96e6a1 100%);
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); }

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: red;
  border-radius: 10px; }

.scrollbar-ripe-malinka::-webkit-scrollbar {
  width: 12px;
  background-color: red; }

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%); }

.bordered-deep-purple::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 1px solid #512da8; }

.bordered-deep-purple::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none; }

.bordered-cyan::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 1px solid red; }

.bordered-cyan::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none; }

.square::-webkit-scrollbar-track {
  border-radius: 0 !important; }

.square::-webkit-scrollbar-thumb {
  border-radius: 0 !important; }

.thin::-webkit-scrollbar {
  width: 6px; }

.example-1 {
  position: relative;
  overflow-y: scroll;
  height: 200px; }

a:link {
  color:black;
}
.list-group-item{
  color:black;
}

.display-4{
  margin-left: -30%;
}
.col-9{
  margin-left: 4%;
}
p{
  font-size: 70%;
  margin-top:-3%;
}
h3{

  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 295%;

}
.details{
  list-style: none;
  margin-left: -3vw;
}

.job-content .details2{
  list-style: none;
  /* margin-left: 15.3vw; */


}


.badge{
  background-color:#c83e2c;
  margin-left: 45%;
  width:12vw;
  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
}
h1{
  color:#c83e2c;
  padding-top:2%;
}

#benefits-container h3{
  color:black;
}

.card{
  border-color: #c83e2c;
  height:50vh;

  width:97%;
  /* margin-bottom: 10%; */


}

#benefits{
  font-size: 119%;
  margin-left: 2%;
  text-align: left;

}
#benefits-text{
  margin-top: 1%;

}

#jumbo-title{
  margin-top: 70vh;
  color:white;
  font-size: 410%;
}
.date{
  background-color: #c83e2c;
  height:15vh;
  width:13%;
  font-size: 260%;
  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
  margin-left: 2%;
}

#icon-container{
  margin-top: -6.2%;
}
#collapseExample,#collapseExample2{
  margin-bottom: 10vh;
}


.favicon{
  width:4%;
  height:5%;
  margin-left: 1vw;
  background-blend-mode: multiply;
  margin-bottom: 2%;
}


h4{
  font-size: 120%;
}
h3{
  font-size: 200%;
  color:black;
  margin-left: -15vw;
}

h5{
  font-size:90%;
}


a{
  color:black;
}





@media only screen and (min-width : 375px) and (max-width : 667px) {

  .card{

    width:96%;
  }
  .card span{
    font-size: 50%;
    margin-left: -3vw;
    margin-top: -30vh;
  }
  .card h3 {
    font-size: 102%;
    margin-left: 20%;
    margin-top: 10vh;
  }
  .card li {
    font-size: 80%;
  }
  .line{
    margin-top: 40vh;
  }

  #collapseExample span {
    width:30%;
    margin-bottom: 20%;
  }
  #collapseExample .mt-3{
    margin-bottom: 10vh;
  }

}

@media only screen and (min-width: 320px) and (max-width: 568px)
and (-webkit-device-pixel-ratio: 2) and (aspect-ratio: 40/71)
{
  .card{
    margin-top: 8vh;
    margin-left: -2%;
    width:99%;
  }
  .card span{
    font-size: 60%;
    margin-left: -8vw;
    margin-top: -20vh;
    width:580%;
  }
  .card h3 {
    font-size: 124%;
    margin-left: -40%;
    margin-top: 10vh;
  }
  .card li {
    font-size: 80%;

  }
  .line{
    margin-top: 20vh;
  }

  #collapseExample span {
    width:30%;
    margin-bottom: 20%;
  }
  #collapseExample .mt-3{
    margin-bottom: 10vh;
  }

}

/* iphone 6/7/8 and plus  */
@media only screen and (min-width : 375px) and (max-width : 667px) {

    .nav a{
      color:red;
    }

    #row-2,#row-3,#row-4{
      margin-top: -6vh;
    }
    h3{
      font-size: 180%;
      color:black;
      margin-left: 4vw;
      text-align: left;
    }
    .card{
      width:100%;
    }
    .card h5{
      font-size:130%;

    }
    .card .row{
      margin-top: -9vh;
    }
    .card ul {
      margin-left: -10vw;
    }
    .card .badge{
      background-color:#c83e2c;
      margin-left: 75%;
      width:20vw;
      margin-bottom: 3vh;
      margin-top: -50vh;
      font-family: 'VegurRegular';
      font-weight: normal;
      font-style: normal;
    }
    .card h4{
      margin-left: -30vw;
    }
    .layer1{
      margin-top: 10%;
      margin-bottom: -10vh;
    }
    .job-content .date{
      margin-top: 20vh;
      font-size: 200%;
      height:90%;
      margin-left: 5vw;
    }
    .job-content  h5{
      margin-left: -7vw;
      text-align: left;
      font-size: 200%;
    }
    .job-content ul{
      text-align: left;
      width:100%;
      margin-left: -17vw;
    }
    .collapse .badge{
      width:30%;
      margin-bottom: 10vh;
    }
    .collapse h5{
      text-align: left;
    }
    .navbar-collapse{
      background-color: white;
    }
    .card ul{
      margin-left: -30%;
    }


}
/* iphone X media query */
@media only screen and (min-width: 320px) and (max-width: 568px)
and (-webkit-device-pixel-ratio: 2) and (aspect-ratio: 40/71)
{
  .dark-blue-text,.fa-bars {
      color: #c83e2c;
      margin-left: 20em;
      margin-top: 0.5em;

  }
}

/* iphone 5 media query */
@media only screen and (min-width: 320px) and (max-width: 568px)
and (-webkit-device-pixel-ratio: 2) and (aspect-ratio: 40/71)
{

  .dark-blue-text,.fa-bars {
      color: #c83e2c;
      margin-left: 19vw;
      margin-top: -0.5em;
      margin-right: 7vw;
  }
  .navbar-toggler{
    margin-left: 20em;
  }

  #benefits-container h3{
    margin-left: 2vw;
    font-size: 160%;
  }

  .card{
    width:110%;
  }
  .card h5{
    font-size:120%;
    margin-top: -4%;

  }
  .card-body{
    width:100%;
    height:300%;
  }
  .card .badge{
    background-color:#c83e2c;
    margin-left: 75%;
    width:20vw;
    margin-top: 6em;
    margin-bottom: 1em;

    font-family: 'VegurRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 35%;
  }
  .card .card-text{
    margin-left: 10vw;
  }
  .card ul{
  margin-left:-12vw;
  margin-bottom: 10vh;
  }
  .last-badge{
    margin-top: 10vh;
  }
  .card h4{
    margin-top: -10vh;
  }
  .job-content .date{
    margin-top: 20vh;
    font-size: 200%;
    height:90%;
    margin-left: 4vw;
  }
  .job-content  h5{
    margin-left: -8vw;
    text-align: left;
    font-size: 200%;
  }
  .job-content ul{
    text-align: left;
    width:100%;
    margin-left: -18vw;
  }
  .job-content button{
    margin-top: 20%;
    margin-bottom: -10vh;
  }


  .title{
    margin-top: 80vh;
  }

  .content{
    margin-top: -60vh;
  }

}

@media only screen
and (min-device-width: 1920px){
  #parallax{
    margin-top: -5vh;
    margin-bottom: 10em;
  }

  #benefits-container h3{
    margin-left: -25vw;
  }

}
@media only screen
and (min-device-width: 1366px)
and (max-device-width: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2){
  #parallax{
    margin-top: -3em;
  }
  .job-content{
    padding-top: 1%;
  }
  .job-content .badge{
    height:50%;
  }
}

/* ipad */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)  {


  #benefits-container h3{
    margin-left: 2vw;
    font-size: 160%;
  }
  .card{
    margin-bottom: 10em;
  }
  .card .badge{
    background-color:#c83e2c;
    margin-left: 75%;
    width:3em;
    margin-top: -1.5em;
    margin-bottom: 1em;

    font-family: 'VegurRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 45%;
  }
  .card ul{
  margin-left:-6vw;
  margin-bottom: 10vh;
  font-size: 90%;
  }
  .card-body{
    width:100%;
    height:100%;
  }
  .card .row{
    height:50%;
  }
  .card h5{
    margin-top: 1vh;
    font-size: 140%;
    margin-left: -1em;
  }
  .card h4{
    margin-top: -6em;
  }
  .job-content .date{
    /* margin-top: 20vh; */
    font-size: 200%;
    height:110%;
    width:15%;
    margin-left: 4vw;
    margin-bottom: 0.5em;
  }
  .job-content  h5{
    margin-left: -4vw;
    text-align: left;
    font-size: 200%;
  }
  .job-content ul{
    text-align: left;
    width:100%;
    margin-left: -8vw;
  }




}

@media screen and (min-width: 1440px) {

  .job-content .badge{
    height:10%;
  }
  .job-content {
    padding-top: 5%;
  }
  }
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {



#benefits-container{
  margin-top: -2.5em;
}

.card .badge{
  font-size: 80%;
  margin-top: 0.5em;
}
.card h5{
  font-size: 200%;
}

.card ul{
  font-size: 180%;
}
.card .row{
  margin-bottom: -10vh;
}

.card h4{
  font-size: 140%;
}
.job-content-3{
  margin-top: -8em;
  margin-left: -2vw;
  width:82%;
  padding-bottom: 2%;
}
.job-content2 {
  padding-bottom: 2%;
  margin-left: -0.5vw;
}
.job-content{
  padding-top: 5%;
  width:70%;
  padding-bottom: 2%;

}
#parallax{
  margin-top: -8em;
}

#card{
  padding-bottom: -50em;
}


}



@media only screen and (max-width:1024px){
  .card .row{
    margin-bottom: -3%;
  }

  #benefits-container{
    margin-top: -0.5%;
  }
  #benefits-container h3{
    margin-left: -10vw;
  }
  #parallax{
    margin-top: -3em;
  }

  #hamburger{
    margin-left: -1vw;
  }

}

@media only screen and (max-width:812px){
  .card h5{
    font-size: 140%;
  }
  .card ul{
    font-size: 90%;
  }
  .card .badge{
    background-color:#c83e2c;
    margin-left: 75%;
    width:8vw;
    margin-top: 1.5em;
    margin-bottom: 1em;

    font-family: 'VegurRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 40%;
  }
}

@media only screen and (max-width:768px){
  #hamburger{
    margin-bottom: -6em;
  }

  #parallax{
    margin-top: -5em;
  }

  #benefits-container{
    margin-top: -6em;
    margin-bottom: 2%;
  }

  .card h5{
    font-size: 210%;
    margin-top: 7%;
  }
  .card ul{
    font-size: 130%;
    margin-left: -10%;
  }


}
@media only screen
and (min-device-width: 768px)
and (max-device-width: 768px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {

 .job-content .badge{

   padding-bottom: -20em;
 }
 .job-content-3{
   margin-top: -14vh;
 }
 #hamburger{
   margin-top: -5em;

 }

}
@media only screen and (max-width:767px){
  .job-content .date{
    margin-top: 20vh;
    font-size: 200%;
    height:110%;
    width:15%;
    margin-left: 4vw;
    margin-bottom: 1em;
  }


}

@media only screen and (max-width:667px){

  #benefits-container h3{
    margin-left:-6em;
  }
  .card .badge{
    background-color:#c83e2c;
    margin-left: 75%;
    width:3em;
    font-family: 'VegurRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 40%;
  }
  .card h5{
    margin-top : -3em;
    margin-left: -4vw;
    font-size: 140%;
  }



  .subheader{
    margin-top:-3em;
  }
  .dark-blue-text,.fa-bars {
      color: #c83e2c;
      margin-left: -1em;
      margin-bottom: -80em;
  }
  #hamburger{

    margin-top: 1em;
    margin-bottom: -5em;
    margin-left: -10em;

  }

}


@media only screen and (max-width:575px){

  .card .badge{
    font-size: 40%;
    margin-bottom: -12em;

  }
  .card ul{
    font-size: 100%;
  }
  .card h5{
    margin-top : -3em;
    margin-left: -4vw;
    font-size: 140%;
  }




}
@media only screen and (max-width:568px){

    #benefits-container #benefits-text{
      margin-left: 2%;
      font-size: 98%;
    }
    #benefits-container #benefits{
      font-size: 98%;
    }
    #benefits-container h3{
      margin-bottom: 5%;
    }
    .card .col-9{
      margin-top: 5em;
    }
    .layer1{
      margin-top: 1em;
    }

    #hamburger{
      margin-right: -5%;

    }

  }


@media only screen and (max-width:414px){

  #benefits-container h3{
    margin-left: 8%;
    margin-bottom: 8%;
  }
  #benefits-container{
    margin-left: -2%;
    padding-top: 20%;
  }

  #parallax{
    margin-top: -5em;
  }
  .job-content .badge{
    width:30%;
  }
  .job-content-3{
    margin-top: -14vh;
  }
  #hamburger{
    margin-top: -5em;

  }
  #card{
    padding-bottom: 8%;
  }

  .mt-3 ul{
    text-align: center;
  }


  }
@media only screen and (max-width: 411px){
  .job-content .badge{
    width:30%;
  }
  .job-content-3{
    margin-top: -14vh;
  }
  #hamburger{
    margin-top: -5em;

  }
  #card{
    padding-bottom: 8%;
  }
}

@media only screen and (max-width: 375px){
  #hamburger{
    margin-top: -5em;

  }

  #logo{
    width:70%;
  }
  .card ul{
    margin-left: -3.4em;
  }
  #main-title{
    font-size: 90%;
  }
  #benefits-container h3{
    margin-left: -2%;
  }
  #benefits-container #benefits-text{
    margin-left: 5%;
  }

  #parallax{
    margin-top: -5em;
  }


  .job-content .badge{
    width:30%;
  }
  .job-content-3{
    margin-top: -14vh;
  }
  #card{
    padding-bottom: 8%;
  }
  .mt-3 ul{
    text-align: center;
  }




  }

@media only screen and (max-width:360px){
  .job-content-3 .badge, .job-content .badge {
    width:40%;
  }
  .job-content-3{

    margin-top: -2em;
    padding-bottom: 10%;
  }
  .job-content-3 .text-uppercase{
    text-align: left;
    margin-left: -8vw;
  }
  #hamburger{
    margin-top: -4em;
  }
  .mt-3 ul{
    text-align: center;
  }

}
@media only screen and (max-width:320px){
  .job-content .mt-3 {
    width:90%;

  }

  .job-content .badge{
    width:30%;
  }
  .job-content .row{
    padding-top: 2em;
  }

  #hamburger{
    margin-top: -30%;
  }
  #card{
    width:75%;

  }
  .job-content-3{
    padding-top: 1em;
    margin-top: -2em;
    padding-bottom: 10%;
  }
  .job-content-3 .badge{
    margin-top: 2vh;
  }
  .job-content-3 h5{

    padding-bottom: 10%;
    width:100%;
    margin-left: -2vw;
  }

  .card h4{
    margin-left: 2vw;
  }

  #card{
    width:85%;
  }
  #card .badge{
    padding-top: -13em;
  }
  .mt-3 ul{
    text-align: center;
  }
}
.job-content .mt-3 {
  width:90%;
}
