.jumbotron{
  width:99.8%;
  height:600px;
  margin-left: 0.1%;

}
#navbarSupportedContent{
  margin-left: 13vw;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: -3%;
  margin-bottom: -6%;
  mix-blend-mode: multiply;

}
.navbar {
  background-color: transparent;
  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 120%;
  color:#c83e2c;
  }

.top-nav-collapse {
  background-color: white;
  color:black;
}
.hover08{
  margin-bottom: -90em;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 16px 2px;
  border-radius: 50%;
  margin-left: 3.5%;
  margin-top: 10vh;
}
.fa:hover {
    opacity: 0.7;
    color: black;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}



.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
#icon-container{
  margin-top: -6.2%;
}
#benefits-text{
  font-size: 130%;
  margin-top: 3%;
  text-align: left;
  margin-left: 10%;
}
#pagebreak{
  margin-bottom: -8vh;
  mix-blend-mode: multiply;
}

/* .container-fluid{
  padding:1%;
  margin-left: 3%;
} */

.scrollbar-deep-purple::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #c83e2c;
  border-radius: 10px; }

.scrollbar-deep-purple::-webkit-scrollbar {
  width: 12px;
  background-color: #c83e2c; }

.scrollbar-deep-purple::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: red; }

.scrollbar-cyan::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-cyan::-webkit-scrollbar {
  width: 12px;
  background-color: #c83e2c; }

.scrollbar-cyan::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #c83e2c; }

.scrollbar-dusty-grass::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-dusty-grass::-webkit-scrollbar {
  width: 12px;
  background-color: red; }

.scrollbar-dusty-grass::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #d4fc79 0%, #96e6a1 100%);
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); }

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: red;
  border-radius: 10px; }

.scrollbar-ripe-malinka::-webkit-scrollbar {
  width: 12px;
  background-color: red; }

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%); }

.bordered-deep-purple::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 1px solid #512da8; }

.bordered-deep-purple::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none; }

.bordered-cyan::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 1px solid red; }

.bordered-cyan::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none; }

.square::-webkit-scrollbar-track {
  border-radius: 0 !important; }

.square::-webkit-scrollbar-thumb {
  border-radius: 0 !important; }

.thin::-webkit-scrollbar {
  width: 6px; }

.example-1 {
  position: relative;
  overflow-y: scroll;
  height: 200px; }

a:link {
  color:black;
}
.list-group-item{
  color:black;
}

.display-4{
  margin-left: -30%;
}
.col-9{
  margin-left: 4%;
}
p{
  font-size: 110%;
  margin-top:-3%;
}
h3{
  /* margin-left: 9%; */
  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 195%;
}
.details{
  list-style: none;
}
.details2{
  list-style: none;

  text-align: center;
}
/* h4{
  color:#c83e2c;
  float:right;
  font-size: 120%;
} */
.badge{
  background-color:#c83e2c;
  margin-left: 45%;
  width:10vw;
  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
}
h1{
  color:#c83e2c;
}
#benefits-container{
  margin-top: 40vh;
}
h2 span {
	margin-left: -1em;
	color: #aaa;
	font-size: 85%;
  margin-top: 10vh;
}
/* #demo08{
  margin-bottom: 10vh;
} */
.hover08{
  margin-bottom: 20vh;
}
.card{
  border-color: #c83e2c;
  height:50vh;
  margin-left: 1%;
  width:95%;
  margin-bottom: 10%;


}

#benefits{
  font-size: 119%;
  margin-left: 4%;
  text-align: left;

}
.column div {
	position: relative;
	float: left;
	width: 150px;
	height: 100px;

	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.headshot{
  margin-bottom: -10vh;
}

#team{
  text-align: center;
}
.date{
  background-color: #c83e2c;
  height:15vh;
  width:13%;
  font-size: 260%;
  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
  margin-left: 2%;
}

#icon-container{
  margin-top: -6.2%;
}
.right {
    position: absolute;
    right: 0px;
    width: 300px;
    margin-top: -10%;
    padding: 10px;
}
.left {
    position: absolute;
    left: 0px;
    width: 300px;
    margin-top: -10%;
    padding: 10px;

}
.favicon{
  width:4%;
  height:5%;
  margin-left: 1vw;
  background-blend-mode: multiply;
  margin-bottom: 2%;
}

@media only screen and (min-width : 375px) and (max-width : 667px) {

  .card{
    margin-top: 10vh;
    margin-left: 1%;
    width:96%;
  }
  .card span{
    font-size: 50%;
    margin-left: -3vw;
    margin-top: -30vh;
  }
  .card h3 {
    font-size: 102%;
    margin-left: 20%;
    margin-top: 10vh;
  }
  .card li {
    font-size: 80%;
  }
  .line{
    margin-top: 40vh;
  }
  #team{
    margin-top: 10vh;
    margin-bottom: 14vh;
  }
  #pictures{
    margin-top: 10vh;
  }
  footer{
    height:45vh;
  }
  figure{
    width:360px;
    margin-left: -6%;
  }
  #collapseExample span {
    width:30%;
    margin-bottom: 20%;
  }
  #collapseExample .mt-3{
    margin-bottom: 10vh;
  }

}

@media only screen and (min-width: 320px) and (max-width: 568px)
and (-webkit-device-pixel-ratio: 2) and (aspect-ratio: 40/71)
{
  .card{
    margin-top: 8vh;
    margin-left: -2%;
    width:99%;
  }
  .card span{
    font-size: 60%;
    margin-left: -8vw;
    margin-top: -20vh;
    width:580%;
  }
  .card h3 {
    font-size: 124%;
    margin-left: -40%;
    margin-top: 10vh;
  }
  .card li {
    font-size: 80%;

  }
  .line{
    margin-top: 20vh;
  }
  #team{
    margin-top: 10vh;
    margin-bottom: 3vh;
  }
  #pictures{
    margin-top: 10vh;
    margin-left: -4%;
  }
  footer{
    height:55vh;
  }
  figure{
    width:360px;
    margin-left: -6%;
  }
  #collapseExample span {
    width:30%;
    margin-bottom: 20%;
  }
  #collapseExample .mt-3{
    margin-bottom: 10vh;
  }

}
/* h4{
  font-size: 90%;
} */
