
.parallax-window{
  margin-top: -10em;
}
#main-title{
  font-size: 120%;
}
#navbarSupportedContent{
  margin-left: 13vw;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: -3%;
  margin-bottom: -6%;
  mix-blend-mode: multiply;

}
h3{
   font-size:230%;
   margin-left:-20%;
}
.job-content h5{
  text-align: center;
}
.hover01 h4{
  font-size: 100%;
}
.hover01 h3{
  font-size: 90%;
  margin-left: 0.5vw;
}

  .layer2 {
      background-color: rgba(81, 76, 76, 0.45);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 98%;

  }
  #jumbotron-text-two{
    margin-top: 45%;
    color:white;
    font-size:265%;
    text-align: center;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    width:30%;
    padding-bottom: 4%;
    padding-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -6%;

  }

.top-nav-collapse {
  background-color: white;
  color:black;
}
.hover08{
  margin-bottom: -90em;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 16px 2px;
  border-radius: 50%;
  margin-left: 3.5%;
  margin-top: 10vh;
}
.fa:hover {
    opacity: 0.7;
    color: black;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}



.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
#icon-container{
  margin-top: -6.2%;
}
#benefits-text{
  font-size: 130%;
  margin-top: 3%;
  text-align: left;
  margin-left: 10%;
}
#pagebreak{
  margin-bottom: -8vh;
  mix-blend-mode: multiply;
}
.collapse h5{
  text-align: center;
}


.scrollbar-deep-purple::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #c83e2c;
  border-radius: 10px; }

.scrollbar-deep-purple::-webkit-scrollbar {
  width: 12px;
  background-color: #c83e2c; }

.scrollbar-deep-purple::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: red; }

.scrollbar-cyan::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-cyan::-webkit-scrollbar {
  width: 12px;
  background-color: #c83e2c; }

.scrollbar-cyan::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #c83e2c; }

.scrollbar-dusty-grass::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-dusty-grass::-webkit-scrollbar {
  width: 12px;
  background-color: red; }

.scrollbar-dusty-grass::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #d4fc79 0%, #96e6a1 100%);
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); }

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: red;
  border-radius: 10px; }

.scrollbar-ripe-malinka::-webkit-scrollbar {
  width: 12px;
  background-color: red; }

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%); }

.bordered-deep-purple::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 1px solid #512da8; }

.bordered-deep-purple::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none; }

.bordered-cyan::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 1px solid red; }

.bordered-cyan::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none; }

.square::-webkit-scrollbar-track {
  border-radius: 0 !important; }

.square::-webkit-scrollbar-thumb {
  border-radius: 0 !important; }

.thin::-webkit-scrollbar {
  width: 6px; }

.example-1 {
  position: relative;
  overflow-y: scroll;
  height: 200px; }

a:link {
  color:black;
}
.list-group-item{
  color:black;
}

.display-4{
  margin-left: -30%;
}
.col-9{
  margin-left: 4%;
}
p{
  font-size: 70%;
  margin-top:-3%;
}
h3{

  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 295%;

}
.details{
  list-style: none;
}
.details2{
  list-style: none;

  text-align: center;
}

.badge{
  background-color:#c83e2c;
  margin-left: 45%;
  width:10vw;
  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
}
h1{
  color:#c83e2c;
}
#benefits-container{
  margin-top: 15vh;
  margin-bottom: -6vh;
}
#benefits-container h3{
  color:black;
}


h2 span {
	margin-left: -1em;
	color: #aaa;
	font-size: 85%;
  margin-top: 10vh;
}

.hover08{
  margin-bottom: 20vh;
}
.card{
  border-color: #c83e2c;
  height:50vh;
  margin-left: 1%;
  width:97%;
  margin-bottom: 10%;


}

#benefits{
  font-size: 119%;
  margin-left: 2%;
  text-align: left;

}
#benefits-text{
  margin-top: 1%;
}
.column div {
	position: relative;
	float: left;
	width: 150%;
	height: 100px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.headshot{
  margin-bottom: -10vh;
  /* width:1000%; */
}

#team{
  text-align: center;
  width:90%;
  margin-bottom: 6vh;
  margin-top: 200vh;

}


#jumbo-title{
  margin-top: 70vh;
  color:white;
  font-size: 410%;
}
.date{
  background-color: #c83e2c;
  height:15vh;
  width:13%;
  font-size: 260%;
  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
  margin-left: 2%;
}

#icon-container{
  margin-top: -6.2%;
}
#collapseExample,#collapseExample2{
  margin-bottom: 10vh;
}
.right {
    position: absolute;
    right: 0px;
    width: 300px;
    margin-top: -10%;
    padding: 10px;
}
.left {
    position: absolute;
    left: 0px;
    width: 300px;
    margin-top: -10%;
    padding: 10px;

}
.favicon{
  width:4%;
  height:5%;
  margin-left: 1vw;
  background-blend-mode: multiply;
  margin-bottom: 2%;
}

/* Gray Scale */
.hover01 figure img {
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
}
.hover01 figure:hover img {
-webkit-filter: grayscale(0);
filter: grayscale(0);
}
h1+p a:hover {
text-decoration: none;
}
h2 {
margin: 60px 15px 0;
padding: 0;

}
h2 span {
margin-left: 1em;
color: #aaa;
font-size: 85%;
margin-top: 10vh;
}
#careers-team .column div {
	position: relative;
	float: left;
	width: 170px;
	height: 200px;
	margin: 0 0 0 25px;
	padding: 0;
  margin-left: 0.5%;
  margin-bottom: 3em;
}

.hover01 .column div:first-child {
	margin-left: 0;
}
.hover01 .column div span {
	position: absolute;
	bottom: 20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 500px;
	padding-top: 70vh;
	color: black;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
  margin-top: 60vh;
  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
  margin-left: 1vw;
  margin-bottom: 10em;


}
.hover01 figure {
	width: 103%;
	height: 94%;
	margin: auto;
	padding: 10%;
	background: #fff;
	overflow: hidden;

  border-radius: 80%;



}

/* .hover01 figure:hover+span {
	bottom: -25%;
	opacity: 1;
  margin-left: -10%;
  width: 150%;
} */
h4{
  font-size: 120%;
}
h3{
  font-size: 200%;
  color:black;
  margin-left: -15vw;
}

h5{
  font-size:90%;
}
#careers-team span{
  font-size: 110%;
  margin-left: -3vw;
  color:black;
}
#careers-team h3 {
  color:black;

}
#careers-team h4 {
  color:#c83e2c;

}
#open-positions{
  margin-bottom: -6vh;
}
a{
  color:black;
}
.mt-3 ul{
  margin-left:16%;
  text-align: left;
}

.footer{
  width:100%;
}

#careers-team .caption{
  bottom:-4vw;
  width:150%;
  margin-left: -3.5vw;

}
@media only screen and (min-width : 375px) and (max-width : 667px) {

  .card{
    margin-top: 10vh;
    margin-left: 1%;
    width:96%;
  }
  .card span{
    font-size: 50%;
    margin-left: -3vw;
    margin-top: -30vh;
  }
  .card h3 {
    font-size: 102%;
    margin-left: 20%;
    margin-top: 10vh;
  }
  .card li {
    font-size: 80%;
  }
  .line{
    margin-top: 40vh;
  }
  #team{
    margin-top: 8vh;
    margin-bottom: 7vh;
  }
  #pictures{
    margin-top: 10vh;
  }
  footer{
    height:45vh;
  }
  figure{
    width:360px;
    margin-left: -6%;
  }
  #collapseExample span {
    width:30%;
    margin-bottom: 20%;
  }
  #collapseExample .mt-3{
    margin-bottom: 10vh;
  }

}

@media only screen and (min-width: 320px) and (max-width: 568px)
and (-webkit-device-pixel-ratio: 2) and (aspect-ratio: 40/71)
{
  .card{
    margin-top: 8vh;
    margin-left: -2%;
    width:99%;
  }
  .card span{
    font-size: 60%;
    margin-left: -8vw;
    margin-top: -20vh;
    width:580%;
  }
  .card h3 {
    font-size: 124%;
    margin-left: -40%;
    margin-top: 10vh;
  }
  .card li {
    font-size: 80%;

  }
  .line{
    margin-top: 20vh;
  }
  #team{
    margin-top: 10vh;
    margin-bottom: 3vh;
  }
  #pictures{
    margin-top: 10vh;
    margin-left: -4%;
  }
  footer{
    height:55vh;
  }
  figure{
    width:360px;
    margin-left: -6%;
  }
  #collapseExample span {
    width:30%;
    margin-bottom: 20%;
  }
  #collapseExample .mt-3{
    margin-bottom: 10vh;
  }

}

/* iphone 6/7/8 and plus  */
@media only screen and (min-width : 375px) and (max-width : 667px) {

    figure{
      margin-top: 20vh;
    }

    /* .hover01 figure {
    	width: 83%;
    	height: 70%;
    	margin: 0;
    	padding: 10%;
    	background: #fff;
    	overflow: hidden;
      margin-top: 30px;
      border-radius: 80%;
      margin-bottom:10px;
      margin-top: 8em;
      margin-left: 13vw;


    } */
    .single-image{
      margin-top: 10vh;
      margin-right: -10%;

    }
    .hover01 figure:hover+span {
    	bottom: -132px;
    	opacity: 1;
      width:150%;
      margin-left: 10em;
      font-size: 100%;
    }



    .hover01 span {
      font-size:5%;

    }

    .fa-bars{
      margin-right: 10vw;
    }

    .nav a{
      color:red;
    }

    #row-2,#row-3,#row-4{
      margin-top: -6vh;
    }
    h3{
      font-size: 180%;
      color:black;
      margin-left: 4vw;
      text-align: left;
    }
    .card{
      width:100%;
    }
    .card h5{
      font-size:130%;

    }
    .card .row{
      margin-top: -9vh;
    }
    .card ul {
      margin-left: -10vw;
    }
    .card .badge{
      background-color:#c83e2c;
      margin-left: 75%;
      width:20vw;
      margin-bottom: 3vh;
      margin-top: -50vh;
      font-family: 'VegurRegular';
      font-weight: normal;
      font-style: normal;
    }
    .card h4{
      margin-left: -30vw;
    }
    .layer1{
      margin-top: 10%;
      margin-bottom: -10vh;
    }
    .job-content .date{
      margin-top: 20vh;
      font-size: 200%;
      height:90%;
      margin-left: 5vw;
    }
    .job-content  h5{
      margin-left: -7vw;
      text-align: left;
      font-size: 200%;
    }
    .job-content ul{
      text-align: left;
      width:100%;
      margin-left: -17vw;
    }
    .collapse .badge{
      width:30%;
      margin-bottom: 10vh;
    }
    .collapse h5{
      text-align: left;
    }
    .navbar-collapse{
      background-color: white;
    }
    .card ul{
      margin-left: -30%;
    }
    .mt-3 .details2{
      margin-left: -40%;
      width:130%;
    }

}
/* iphone X media query */
@media only screen and (min-width: 320px) and (max-width: 568px)
and (-webkit-device-pixel-ratio: 2) and (aspect-ratio: 40/71)
{
  .dark-blue-text,.fa-bars {
      color: #c83e2c;
      margin-left: 20em;
      margin-top: 0.5em;

  }
}

/* iphone 5 media query */
@media only screen and (min-width: 320px) and (max-width: 568px)
and (-webkit-device-pixel-ratio: 2) and (aspect-ratio: 40/71)
{

  /* .hover01 figure {
    width: 93%;
    height: 70%;
    margin: 0;
    padding: 10%;
    background: #fff;
    overflow: hidden;
    margin-top: 30px;
    border-radius: 80%;

    margin-top: 8em;
    margin-left: 14vw;
  } */

  .hover01 figure:hover+span {
    bottom: -119px;
    opacity: 1;
    width:150%;

    font-size: 100%;
  }
  .dark-blue-text,.fa-bars {
      color: #c83e2c;
      margin-left: 19vw;
      margin-top: -0.5em;
      margin-right: 7vw;
  }
  .navbar-toggler{
    margin-left: 20em;
  }

  #careers-team{
    margin-left: 10%;
    margin-top: -14vh;
  }
  #benefits-container h3{
    margin-left: 2vw;
    font-size: 160%;
  }
  .layer1{
    margin-top: -50em;
  }
  .card{
    width:110%;
  }
  .card h5{
    font-size:120%;
    margin-top: -4%;

  }
  .card-body{
    width:100%;
    height:300%;
  }
  .card .badge{
    background-color:#c83e2c;
    margin-left: 75%;
    width:20vw;
    margin-top: 6em;
    margin-bottom: 1em;

    font-family: 'VegurRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 35%;
  }
  .card .card-text{
    margin-left: 10vw;
  }
  .card ul{
  margin-left:-12vw;
  margin-bottom: 10vh;
  }
  .last-badge{
    margin-top: 10vh;
  }
  .card h4{
    margin-top: -10vh;
  }
  .job-content .date{
    margin-top: 20vh;
    font-size: 200%;
    height:90%;
    margin-left: 4vw;
  }
  .job-content  h5{
    margin-left: -8vw;
    text-align: left;
    font-size: 200%;
  }
  .job-content ul{
    text-align: left;
    width:100%;
    margin-left: -18vw;
  }
  .job-content button{
    margin-top: 20%;
    margin-bottom: -10vh;
  }
  footer ul{
    margin-top: 10vh;
    margin-right: 3em;
  }

  .title{
    margin-top: 80vh;
  }
  #team{
    margin-bottom: 5vh;
  }
  #open-positions{
    margin-bottom: -13vh;
  }
  .content{
    margin-top: -60vh;
  }

}

@media only screen
and (min-device-width: 1920px){
  #parallax{
    margin-top: -5vh;
    margin-bottom: 10em;
  }
  /* #careers-team span{
    margin-left: -2.3vw;
  } */
  #benefits-container h3{
    margin-left: -25vw;
  }

}
@media only screen
and (min-device-width: 1366px)
and (max-device-width: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2){
  #parallax{
    margin-top: -3em;
  }
}


/* ipad */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)  {

  .dark-blue-text,.fa-bars {
      color: #c83e2c;
      margin-left: -45vw;
      margin-top: 6em;
  }

  #benefits-container h3{
    margin-left: 2vw;
    font-size: 160%;
  }
  .card{
    margin-bottom: 10em;
  }
  .card .badge{
    background-color:#c83e2c;
    margin-left: 75%;
    width:3em;
    margin-top: -1.5em;
    margin-bottom: 1em;

    font-family: 'VegurRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 45%;
  }
  .card ul{
  margin-left:-6vw;
  margin-bottom: 10vh;
  font-size: 90%;
  }
  .card-body{
    width:100%;
    height:100%;
  }
  .card .row{
    height:50%;
  }
  .card h5{
    margin-top: 1vh;
    font-size: 140%;
    margin-left: -1em;
  }
  .card h4{
    margin-top: -6em;
  }
  .job-content .date{
    margin-top: 20vh;
    font-size: 200%;
    height:110%;
    width:15%;
    margin-left: 4vw;
    margin-bottom: 4em;
  }
  .job-content  h5{
    margin-left: -4vw;
    text-align: left;
    font-size: 200%;
  }
  .job-content ul{
    text-align: left;
    width:100%;
    margin-left: -8vw;
  }


}


@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
/* .hover01 figure:hover+span {
	bottom: -17%;
	opacity: 1;
  margin-left: 25em;
  width: 140%;
} */
#careers-team{
  margin:auto;
}
 /* .hover01 figure {
  width: 90%;
  height: 75%;
  margin: auto;
  padding: 10%;
  background: #fff;
  overflow: hidden;
  border-radius: 80%;

} */
#benefits-container{
  margin-top: -2.5em;
}
#open-positions{
  margin-top: 10%;
  margin-bottom: -8%;
}
.card .badge{
  font-size: 80%;
  margin-top: 0.5em;
}
.card h5{
  font-size: 270%;
}

.card ul{
  font-size: 680%;
}
.card .row{
  margin-bottom: -10vh;
}

.card h4{
  font-size: 140%;
}
.job-content .badge{
  margin-top: 3em;
}
#parallax{
  margin-top: -8em;
}
.row{
  margin-bottom: -300em;
}

}



@media only screen and (max-width:1024px){
  .card .row{
    margin-bottom: -3em;
  }
  .card{
    margin-left: 1.5%;
  }
  #open-positions{
    margin-bottom: -6%;
  }
  #benefits-container{
    margin-top: -0.5%;
  }
  #benefits-container h3{
    margin-left: -10vw;
  }
  #parallax{
    margin-top: -3em;
  }

}

@media only screen and (max-width:812px){
  .card h5{
    font-size: 140%;
  }
  .card ul{
    font-size: 90%;
  }
  .card .badge{
    background-color:#c83e2c;
    margin-left: 75%;
    width:8vw;
    margin-top: 1.5em;
    margin-bottom: 1em;

    font-family: 'VegurRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 40%;
  }
}

@media only screen and (max-width:768px){
  #hamburger{
    margin-bottom: -6em;
  }
  .layer{
    margin-bottom: -10em;
  }
  #parallax{
    margin-top: -5em;
  }
  #careers-team figure{
    width:85%;
    height:70%;
  }
  #careers-team span{
    margin-left: -2.3em;
    bottom:-1em;
  }
  #benefits-container{
    margin-top: -6em;
    margin-bottom: 2%;
  }
  #open-positions{
    margin-bottom: -10%;
  }
  .card h5{
    font-size: 210%;
    margin-top: 7%;
  }
  .card ul{
    font-size: 130%;
    margin-left: -10%;
  }
  .card .row{
    margin-bottom: 6%;
  }
  .job-content .mt-3{
    margin-top: -95em;
  }
  /* .card {
    margin-bottom: 10em;
  } */


}
@media only screen and (max-width:767px){
  .job-content .date{
    margin-top: 20vh;
    font-size: 200%;
    height:110%;
    width:15%;
    margin-left: 4vw;
    margin-bottom: 4em;
  }
  footer ul{
    margin-left: -10em;
    text-align: left;
  }
  #footer-container{
    margin-left: 1em;
  }
  #copyright{
    margin-left: -23em;
  }
  #footer-text{
    margin-left: 2em;
  }


}

@media only screen and (max-width:678px){
  #footer-container{
    margin-left: -1em;
  }



}
@media only screen and (max-width:667px){

  #careers-team .caption{
    margin-left: 10%;
  }
  #benefits-container h3{
    margin-left:-6em;
  }
  .card .badge{
    background-color:#c83e2c;
    margin-left: 75%;
    width:3em;
    font-family: 'VegurRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 40%;
  }
  .card h5{
    margin-top : -3em;
    margin-left: -4vw;
    font-size: 140%;
  }
  .col-9{
    margin-top: 7em;
  }

  #footer-container{
    margin-left: -1em;
    width:100%;
  }
  #careers-team{
    margin-left: -3em;
  }
  .subheader{
    margin-top:-3em;
  }
  .dark-blue-text,.fa-bars {
      color: #c83e2c;
      margin-left: -1em;
      margin-bottom: -80em;
  }
  #hamburger{

    margin-top: 1em;
    margin-bottom: -5em;
    margin-left: -10em;

  }

}

@media only screen and (max-width:640px){
  .card ul{
    margin-left: -17%;
  }
  .mt-3 .details2{
    margin-left: -20%;
  }
  .mt-3 .badge{
    margin-bottom: -20em;
  }
  .mt-3 .col-9{
    margin-top: -10%;
  }
  #icons{
    margin-bottom: -1em;
  }
}

@media only screen and (max-width:575px){
  #careers-team{
    margin-left: 3em;
  }

  .card .badge{
    font-size: 40%;
    margin-bottom: -12em;

  }
  .card ul{
    font-size: 100%;
  }
  .card h5{
    margin-top : -3em;
    margin-left: -4vw;
    font-size: 140%;
  }
  #icons{
    width:50%;
  }
  /* .hover01 figure {
    width: 120%;
    height: 95%;
    margin: 0;
    padding: 10%;
    background: #fff;
    overflow: hidden;
    margin-top: 30px;
    border-radius: 80%;
    margin-bottom:10px;
    margin-top: 8em;
    margin-left: 13vw;
  } */

  /* .hover01 figure:hover+span {
    bottom: -173px;
    opacity: 1;
    width:150%;
    margin-left: 13em;
    font-size: 100%;
  } */
  #careers-team .caption{
    margin-left: 3em;
  }
  #copyright{
    margin-left: -17em;
    margin-top: 10em;
  }
  #footer-text{
    margin-left: 14%;

  }
  .icons{
    margin-left: 14%;
  }


}
@media only screen and (max-width:568px){
    #careers-team{
      margin-left: 15%;
    }
    .hover01 figure:hover+span {
      bottom: -180px;

    }
    #benefits-container #benefits-text{
      margin-left: 2%;
      font-size: 98%;
    }
    #benefits-container #benefits{
      font-size: 98%;
    }
    #benefits-container h3{
      margin-bottom: 5%;
    }
    .card .col-9{
      margin-top: 5em;
    }
    .layer1{
      margin-top: 1em;
    }
    .mt-3 .col-9{
      margin-top: -3em;
      margin-left: 8%;
    }
    .mt-3 ul{
      margin-left: -26%;
    }
    footer{
      margin-bottom: -100em;
    }

    #hamburger{
      margin-right: -5%;

    }

  }

@media only screen and (max-width:515px){
  .card h5{
    font-size: 120%;
  }
  #copyright{
    margin-left: -40vw;
    margin-top: 10em;
  }
  #footer-text{
    margin-left: 14%;

  }
  .icons{
    margin-left: 14%;
  }
}
@media only screen and (max-width:431px){
  #hamburger{
    margin-top: -6%;
  }
}
@media only screen and (max-width:414px){
  /* #careers-team .caption{
    margin-left: 20%;
  } */
  .hover01 figure:hover+span {
    bottom: -178px;
  }
  #careers-team{
    margin-left: 6.5%;
  }
  #benefits-container h3{
    margin-left: 8%;
    margin-bottom: 8%;
  }
  #benefits-container{
    margin-left: -2%;
  }
  #hamburger{
    margin-left: -9em;
  }
  #parallax{
    margin-top: -5em;
  }
  .card{
    margin-bottom: 10%;
  }
  #careers-team .column div{
    width:70vw;
    height:83vw;
    margin-left: 3vw;
  }
  #careers-team .caption{
    margin-left: -18vw;
  }



  }

@media only screen and (max-width:411px){

  #careers-team .column div{
    width:70vw;
    height:83vw;
    margin-left: 3vw;
  }
  #careers-team .caption{
    margin-left: -18vw;
  }
}

@media only screen and (max-width:400px){
  .icons{
    margin-left: -10%;
  }
  #footer-text{
    margin-left: 6%;

  }
  #benefits-container h3{
    margin-left: 10%;
  }
  #careers-team .caption{
    margin-left: 10%;
  }
  #careers-team{
    margin-left: 4vw;
  }
  .card .badge{
    margin-top: 3em;
    margin-bottom: -10em;
  }
}

@media only screen and (max-width: 375px){
  #hamburger{
    margin-bottom: -5em;
    margin-left: -1em;
  }

  #logo{
    width:70%;
  }
  .card ul{
    margin-left: -3.4em;
  }
  #main-title{
    font-size: 90%;
  }
  #benefits-container h3{
    margin-left: -2%;
  }
  #benefits-container #benefits-text{
    margin-left: 5%;
  }
  .mt-3 .details2{
    margin-left: -37%;
  }
  .hover01 figure{
    height: 97%;
    }
  #open-positions{
    text-align: center;
    margin-bottom: -10%;
    margin-top: 15%;
  }
  #parallax{
    margin-top: -5em;
  }


  #careers-team span{
    bottom:-3em;
  }

  #careers-team{
    margin-right: 20vw;
  }
  .hover01 figure:hover+span {

    width:110%;
    font-size: 100%;
    margin-left: -2vw;

  }
  #benefits-container{
    margin-top: 25%;
  }
  .card h4{
    margin-right:-3em;
  }
  #careers-team figure{
    margin-left: 17vw;
  }
  #careers-team .column div{
    width:70vw;
    height:73vw;
    margin-left: -3vw;
  }
  #careers-team .caption{
    margin-left: -9vw;
    bottom:-9vw;
  }
  /* #careers-team span{
    margin-left: -10vw;
  } */



  }

/* galaxy s5 */
@media only screen and (max-width: 370px){

  #careers-team{
    margin-left: 8%;
    margin-top: -14vh;
  }
  #benefits-container h3{
    margin-left: 2vw;
    font-size: 160%;
  }
  .card{
    width:110%;
    margin-bottom: 10vh;
    margin-left: -5%;
  }
  .card h5{
    font-size:120%;
    margin-top: -4%;

  }
  .card-body{
    width:100%;
    height:300%;
  }
  .card .badge{
    background-color:#c83e2c;
    margin-left: 75%;
    width:20vw;
    margin-top: 6em;
    margin-bottom: 1em;

    font-family: 'VegurRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 35%;
  }
  .card .card-text{
    margin-left: 10vw;
  }
  .card ul{
  margin-left:-12vw;
  margin-bottom: 10vh;
  }
  .last-badge{
    margin-top: 10vh;
  }
  .card h4{
    margin-top: -10vh;
  }
  .job-content .date{
    margin-top: 20vh;
    font-size: 200%;
    height:110%;
    width:30%;
    margin-left: 4vw;
    margin-bottom: 10vh;
  }
  .job-content  h5{
    margin-left: -8vw;
    text-align: left;
    font-size: 200%;
  }
  .job-content ul{
    text-align: left;
    width:100%;
    margin-left: -18vw;
  }
  .job-content button{
    margin-top: 20%;

  }
  footer ul{

    margin-right: 3em;
  }
  #row-2,#row-3,#row-4{
    margin-top: -6vh;
  }
  .dark-blue-text,.fa-bars {
      color: #c83e2c;
      margin-left: 18em;
      margin-top: -0.5em;
      margin-right: 2%;
  }

}
@media only screen and (max-width:360px){


  #careers-team figure{

    margin-left: 2vw;
  }
  #careers-team{
    margin-top: 5vh;
  }

  .card .badge{
    margin-top: -3em;
    margin-bottom: -3em;
  }
  #careers-team .column div{
    width:70vw;
    height:83vw;
    margin-left: 5vw;
  }
  #careers-team .caption{
    margin-left: -10vw;
  }

}
@media only screen and (max-width:337px){
  #logo{
    width:20%;
  }
}

.dark-blue-text,.fa-bars {
    color: #c83e2c;
    margin-left: -1em;
    /* margin-bottom: -80em; */
}
}




@media only screen and (max-width:320px){
  #main-title{
   font-size: 25%;
 }
 .jumbotron{
   margin-bottom: -25em;
 }
 .card .badge{
   margin-top: -4em;

 }
 .card .col-9{
   margin-top: 0.7em;
 }
 .card .details{
   margin-left: -30%;
 }
 .layer1{
   margin-top: 3em;
 }
 .mt-3{
   margin-left: -10%;
 }
 .mt-3 .col-9{
   margin-top: -1em;
 }

}

@media only screen and (max-width:320px){
  #main-title{
   font-size: 25%;
   margin-top:-10em;
 }
 .jumbotron{
   margin-bottom: -25em;
   height:20%;
 }
 .card .badge{
   margin-top: -4em;

 }
 .card .col-9{
   margin-top: 0.7em;
 }
 .card .details{
   margin-left: -30%;
 }
 .layer1{
   margin-top: 3em;
 }
 .mt-3{
   margin-left: -10%;
 }
 .mt-3 .col-9{
   margin-top: -1em;
 }
 .parallax-window{
   margin-bottom: -25em;

 }
 #careers-team .caption{
   margin-left: -20vw;
 }
 #hamburger{
   margin-top: -8vh;
 }


}
