
#panel{
  background-image:url('../img/news1.jpeg');
  background-size:cover;
  background-repeat:no-repeat;
  width:95%;margin-left:3%;
  height:60vh;
  background-position: -100px -106px;
  background-size:1350px 1000px;"
  margin-bottom:15%;
}
#panel-title{
  background-color: white;
  width:103%;
  margin-left: -1.5%;
  height:27%;
  opacity:0.4;
  margin-top:-2.5vh;
  color:black;
}
.navbar-nav mr-auto{
  float:right;
}
/* Navbar animation */
.navbar {
  background-color: transparent;
  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 120%;
  color:#c83e2c;
  }
body{
  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
}
.top-nav-collapse {
  background-color: white;
  color:black;
}
h3{
  margin-left: 8.5%;
  font-size:200%;
  text-align: left;
  color:#008f8a;
}
p{
  font-size:120%;
}
h4{
  float:right;
  color:#008f8a;
  font-size: 220%;
  margin-top: 10vh;
}
h5{
  float:right;
}
.card{
  height:40vh;
  margin-top: 3%;
  width:110%;
  margin-left: -5vw;
}
.article{
  margin-left: -0.2%;
  height:150%;
  width:15%;
}
.mt-3{
  width:100%;
}
.info-title{
  margin-left: 10vw;
  text-align:left;
  width:100%;

}
#date{
  padding-right: 10%;
  width: 100%;
  margin-bottom: 5%;


}
.badge{
  background-color: #008f8a;
}
#collapseExample13,#collapseExample12,#collapseExample11,#collapseExample10,#collapseExample9,#collapseExample8,#collapseExample7,#collapseExample6,#collapseExample5,#collapseExample4,#collapseExample3{
  margin-bottom: 10vh;
}
