#top-panel .card{
  background-image:url('../img/news1.jpeg');
  width:95%;
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
  margin: auto;
  display:flex;
  height:70vh;


}

#top-panel h4{
  margin-top: 10vh;
}


#content p{
  font-size: 110%;
}

.navbar-nav mr-auto{
  float:right;
}
nav a:hover{
  color:#c83e2c;
}
.card h3{
  /* font-size:160%; */
  margin-top: 12em;

}
#top-panel .card-header{
  background-color: #fff;
  height:12vw;
  opacity:0.8;
}
#top-panel .badge{
  font-size: 3vw;
  margin-left: -0.35vw;
  position: absolute;
  width:12vw;
}
#top-panel .media-heading{
  margin-left: 15vw;
  font-size: 2.5vw;
  color:#008f8a;
}
#team{
  margin-top: 20%;
}

/* Navbar animation */
.navbar {
  background-color: transparent;
  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 120%;
  color:#c83e2c;
  }
body{
  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
}
.top-nav-collapse {
  background-color: white;
  color:black;
}
h3{
  margin-left: 8.5%;
  font-size:200%;
  text-align: left;
  color:#008f8a;
}
p{
  font-size:120%;
}
h4{
  float:right;
  color:#008f8a;
  font-size: 220%;
  margin-top: 10vh;
}
h5{
  float:right;
}

.article{
  margin-left: -0.2%;
  height:150%;
  width:15%;
}
.mt-3{
  width:100%;
}
.info-title{
  margin-left: 10vw;
  text-align:left;
  width:100%;
}


#date{
  padding-right: 10%;
  width: 100%;
  margin-bottom: 5%;


}
.badge{
  background-color: #008f8a;
  font-size:250%;
  color:white;
  z-index: 0;
}
#collapseExample13,#collapseExample12,#collapseExample11,#collapseExample10,#collapseExample9,#collapseExample8,#collapseExample7,#collapseExample6,#collapseExample5,#collapseExample4,#collapseExample3{
  margin-bottom: 10vh;
  padding-top: 13%;
  margin-top: -20vh;
}
.card-title{
  font-size: 100%;
  margin-top:-9.7vh;
  color:black;
  font-size:180%;
  margin-left:10%;
  z-index: 0;

}
.card h3{
  margin-top: -1.1em;
}


.footer{
  width:100%;
}
#content{
  margin-top: -10%;
}
#stories h3{
  font-size:3vh;
}
#top-panel{
  width:100vw;

}


/*iPad Pro 9.7"*/
/* Portrait */
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {

  #top-panel #panel-title{
    height:17%;
  }
  #stories .row{
    margin-bottom: -10em;
  }

  #stories img{
    margin-top: 2em;
  }


}

@media only screen
and (min-device-width: 1920px)

and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
  #read-more{
    margin-right:80em;
  }
  #panel{
    width:62%;

  }
  .footer{
    width:130vw;
  }
  #top-panel #panel-title{
    height:15%;
    margin-top: -1.8%;
  }
  #panel-title .card-title{
    margin-top: 20%;
  }
  .card h4{
    margin-top: -2.3em;
  }
  #stories .card{
    margin-bottom: 10em;

  }
  #stories h3{
    margin-top: 4em;
  }
  #stories img{
    margin-top: 10%;
  }
  #stories .row {
    margin-bottom: 3%;
  }
  .mt-3{
    margin-bottom: 10%;
  }


}
/* Landscape */
@media only screen
and (min-device-width: 1366px)
and (max-device-width: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
  #panel{
    margin: auto;
  }
  #read-more{
    margin-right: 10%;
  }
  #panel-title{
    height:20%;
    margin-top: -1.7%;
  }
  #panel-title .badge{
    font-size: 280%;
  }
  #top-panel h4{
    font-size: 200%;
    margin-top: -7%;
  }
  #stories h3{
    margin-top:10%;
  }
  #content{
    margin-bottom: 20%;
    margin-top: -25%;
  }

  #stories .card{
    margin-bottom: 16vh;
  }
  .mt-3{
    margin-top: 10em;
    margin-bottom: 10%;
  }
}
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2){

  #stories h3{
    font-size: 3vw;
  }
  #stories h5{
    font-size: 2vw;
  }
  #stories .summary{
    font-size: 2.7vw;
  }

}


@media screen and (max-width:1199px){
  .card h3{
    margin-top: -1.6em;
    /* font-size: 140%; */
  }
  .card img{
    margin-top: 0.7em;
  }


}
@media screen and (max-width:1104px){

  .mt-3{
    margin-left: 3%;
  }
}

@media screen and (max-width:1024px){

  #panel-title{
    height:19.99%;
    width:103.6%;
  }



  #copyright{
    margin-top: 30%;
    margin-left: -40%;
  }
  .row h5{
    font-size: 140%;
  }
  #panel{
    margin-left: 4em;

  }
  .mt-3{
    margin-bottom: 10%;
  }
  #stories .card{
    margin-bottom: 16%;
  }
  #top-panel .badge{
    margin-top: -0.3vw;
    background-color: #008f8a;
  }
  #stories .card img{
    margin-left: 6vw;
  }


}
@media screen and (max-width:991px){
  .card h3{
    margin-top: -1em;
    /* font-size: 150%; */

  }
  .card h5{
    font-size: 90%;
  }

  #panel .card-title{
    margin-left: 6em;
    font-size: 140%;
  }
  .dark-blue-text,.fa-bars {
      color: #c83e2c;
      margin-top: -3.8em;
      margin-bottom: 1em;
      margin-left: -1em;
  }

  .collapse-content .badge{
    font-size: 190%;
    height:40%;
    width:20%;
    margin-top: 3%;
    margin-left: 1%;
  }
  #icons{
    width:200%;
    margin-left: -3em;
  }
  #footer-text{
    margin-left: -6em;
  }


}


@media screen and (max-width:957px){
  #panel .card-title{
    font-size: 140%;
  }
}
@media screen and (max-width:948px){
  #panel .card-title{
    margin-left: 6em;
    font-size: 140%;
  }

}

@media screen and (max-width:927px){

  .card h3{
    margin-top: -0.1em;
    /* font-size: 150%; */
  }
}


@media screen and (max-width:876px){
  #panel-title .badge {
    width:20%;
  }
  #panel .card-title{
    font-size: 140%;
    margin-top: -10%;
  }


}

@media screen and (max-width:768px){

  .collapse-content .badge{
    font-size: 160%;
    height:40%;
    width:20%;
    margin-top: 3%;
    margin-left: 1%;
  }

  .collapse-content h4{
    font-size: 150%;
  }
  #footer-text{
    margin-left: -2em;
  }

  #icons{
    width:130%;
  }

  #panel{
    margin-left: 6vw;
  }
  #panel-title{
    height:15%;
    margin-top: -3%;
    width:105%;
  }
  #top-panel #card-title{
    margin-top: -1.5em;
    text-align: left;
  }
  #panel-title .badge{
    margin-top: -0.1%;
    font-size: 220%;

  }
  #stories .row{
    margin-bottom: -7em;
  }
  #team{
    margin-top: 2em;
  }
  #copyright{
    margin-top: 30%;
    margin-left: -40%;
  }
  .fa-bars{
    margin-bottom: 3em;
  }

  #panel-title .card-title{
    margin-top: -20em;
  }
  .mt-3{
    margin-bottom: 10%;
  }


}

@media screen and (max-width:736px){
  #panel-title .badge {
    width:14%;
    font-size: 150%;
  }
  #panel .card-title{
    font-size: 106%;
    margin-top: -6%;
  }
  #footer-text{
    margin-left: 10%;
  }
  #copyright{
    margin-left:-60%;
  }
  #icons{
    margin-left: -18%;
  }


}



@media screen and (max-width:680px){


  #footer-text{
    margin-left: 2em;
    margin-top: -1em;
  }
  #copyright{
    margin-left: -25em;
  }
  #icons{
    width:90%;
    margin-left: -8em;
  }
  #read-more{
    margin-top: 2%;
  }
  .collapse-content h4{
    margin-bottom: -10em;
    text-align: left;
  }
  .collapse-content .badge{
    margin-bottom: -10em;
  }


}
@media screen and (max-width:667px){
  .card h3{
    margin-top: 0.5em;

    margin-left: 1em;
  }
  .card p{
    font-size: 99%;
  }
  .card img{
    margin-top: 80%;
  }
  #read-more{
    font-size: 90%;
    margin-top: -1em;
  }
  .dark-blue-text,.fa-bars {
      color: #c83e2c;
      margin-top: -3.8em;
      margin-bottom: 1em;
      margin-right: -0.5em;
  }
  #panel-title .badge {
    width:15%;
    font-size: 110%;
  }
  #panel .card-title{
    margin-top: -7%;
    text-align: left;
  }
}
@media screen and (max-width:611px){
  #panel-title .badge {
    width:25%;
  }
  #panel .card-title{
    margin-top: -15%;
    text-align: left;
  }
  #top-panel .media-heading{
    font-size: 3vh;
  }
  #top-panel .card-header{
    height:14vw;
  }
}

@media screen and (max-width:574px){
  #icons{
    margin-left: -15em;
    width:110%;
  }
  #copyright{
    margin-left: -24em;
    margin-top: -2em;
  }
  #footer-text{
    margin-top: -3em;
    font-size: 110%;
    margin-left: 2.5em;
  }
  #top-panel .media-heading{
    font-size: 3vh;
  }
}
@media screen and (max-width:566px){
  #panel .card-title{
    margin-top: -15%;
    font-size: 100%;
    margin-left: 30%;
  }
  #panel-title .badge {
    width:30%;
  }

  #top-panel .media-heading{
    font-size: 3vh;
  }
}

@media screen and (max-width:518px){
  .card h3{
    margin-top: 4.6em;

  }

  #panel{
    width:93%;
  }
  #top-panel .badge{
    margin-left: -2.2vw;
  }
  #top-panel .card-header{
    height:20vw;
  }
  #top-panel .media-heading{
    font-size: 3vh;
  }
}

@media screen and (max-width:478px){
  .card h3{
    margin-top: 5em;

  }
  .card img{
    margin-top: 4em;
  }
  #read-more{
    margin-top: 2%;
  }
}
@media screen and (max-width:424px){
  #panel-title .badge {
    width:34%;
    font-size: 180%;
  }
  #panel .card-title{
    margin-top: -20%;
    font-size: 100%;
    margin-left: 35%;
    text-align: left;
  }
}

@media screen and (max-width:414px) {
  .dark-blue-text,.fa-bars {
      color: #c83e2c;
      margin-bottom: 1.3em;
      margin-left: 1.3em;
  }
  .card h3{
    margin-top: 8em;
  }
  #copyright{
    margin-left: -9em;
  }
  #icons{
    margin-left: -6em;
  }
  #date{
    margin-top:10em;
    margin-bottom: 10em;
    width:100%;
    font-size: 70%;
    margin-left: 2%;

  }
  #date .badge{
    margin-top: -1.4em;
    height:3em;
    margin-bottom: 3em;
    width:18%;
  }
#date h4{
  font-size:150%;
  margin-left: 2.3em;
  margin-top: 52em;
  text-align: left;
  width:120%;

}

  #content p{
    font-size: 80%;
    width:90%;
  }
  #panel-title .badge{
    font-size: 160%;
    width:30%;
  }
  #panel-title{
    height:16%;
    width:120%;
    margin-left: -4%;
  }
  #top-panel #card-title{
    margin-top: -3em;
  }

  #team{
    margin-top: 26%;
  }

  #stories .row{
    height:40em;

  }
  #stories h3{
    margin-top: 3em;
  }
  #stories h5{
    margin-top: 4%;
  }
  .footer{
    width:90%;
  }
  #content button{
    margin-left: -10%;
  }
  #panel{
    margin-left: 6vw;

  }
  #panel-title{
    margin-top: -2.8vh;
  }
  #top-panel .card-header{
    height:20vw;
  }
  #top-panel .badge{
    width:15vw;
    height:6vh;
    font-size: 4.2vw;
    margin-left: -3vw;
  }
  #top-panel .media-heading{
    font-size: 4vw;
  }
  #top-panel .card-header{
    height:15vh;
  }

}
@media screen and (max-width:411px) {
  footer{
    margin-top: 23%;
  }

  #icons{
    width:130%;
  }
  #footer-text{
    margin-left: 11%;
  }
  #copyright{
    margin-left: -15%;
  }


}
@media screen and (max-width:404px) {
  #copyright{
    margin-left: -10em;
  }
  #icons{
    margin-left: -6em;
    width:170%;
  }
}

@media screen and (max-width:375px) {


  #logo{
    width:50%;
  }
  #icons{
    margin-left: -16vw;
  }

  #copyright{
    margin-left: -12%;
  }
  #footer-text{
    margin-left: 3%;
  }

  .card h3{
    margin-top: 13.5em;
    font-size: 116%;
  }
  .card p{
    font-size:85%;
  }
  .card h5{
    margin-top:10%;
  }
  .card img{
    margin-top: -48em;
  }
  .card{

    margin-top: -0.2em;
  }
  #date{
    margin-top:10em;
    margin-bottom: 10em;
    width:100%;
    font-size: 70%;

  }
  #date .badge{
    margin-top: 1.4em;
    margin-bottom: 3em;
    height:3em;

  }
#date h4{
  font-size:150%;
  margin-left: 5.3em;
  margin-top: 22em;
  text-align: left;
  width:120%;

}
#content h4{
  font-size: 180%;

}
  #content p{
    font-size: 80%;
    margin-left: -2%;
    width:90%;
  }
  #stories .row{
    height:40em;

  }
  #stories h3{
    margin-top: 2em;
  }
  #stories img{
    margin-top: 6em;
  }
  #team{
    margin-top: 26%;
  }
  footer{
    margin-top: 20%;
  }
  .footer{
    width:67%;
  }
  #stories{
    margin-bottom: 45vw;
  }

  #content{
    padding-left: 10%;
  }
  #content button{
    margin-left: -10%;
  }
  #top-panel {
    width:95%;
  }
  #top-panel .card-title{
    width:70%;
    font-size: 90%;
    margin-top: -7vh;
  }
  #top-panel .card-header{
    height:15vh;
  }



}

@media screen and (max-width:360px) {

  #footer-text{
    margin-left: 10%;
    font-size: 90%;
  }
  #icons{
    margin-left: -4%;
    width:150%;
  }
  .card img{
    margin-bottom: -1em;
    margin-top: -20em;
  }

  /* #panel-title .badge {
    width:30%;
    font-size: 150%;
  } */
  #stories .row{
    height:45%;
    margin-top: -4em;
  }
  #stories h3{
    margin-top: 8em;
  }
  #team{
    margin-top: 26%;
  }
  hr{
    margin-top: 10em;
  }
  .fa-bars{
    margin-bottom: 1em;
  }.dark-blue-text,.fa-bars {
      color: #c83e2c;
      margin-bottom: 1.3em;
      margin-left: 1.3em;
  }
  #panel{
    margin:auto;
    width:90%;
  }
  #top-panel .card-header{
    height:10vh;
  }
  #top-panel .badge{
    width:15vw;
    height:6.5vh;
    font-size: 2.2vh;
    margin-left: -2vw;
  }
  #top-panel .media-heading{
    font-size: 2.2vh;

  }


}

@media screen and (max-width:320px) {
  #stories .row{
    height:68%;
    margin-top: -4vh;

  }
  #stories h3{
    margin-top:0.7em;
  }
  #icons{
    width:150%;
  }
  #copyright{
    margin-left: -0.5em;
  }
  #footer-text{
    font-size: 90%;
    margin-left: 5%;
  }
  #date .badge{
    width:24%;
  }
  #date{
    margin-top: -1em;
  }

  #top-panel{
    width:93.9%;
    margin-left: 2.5%;
    height:20vh;
  }


  #panel-title{
    margin-top: 1%;
    height:28%;
    width:120%;
    margin-left: -6%;
  }
  #logo{
    width:50%;
  }
  .dark-blue-text,.fa-bars {
      color: #c83e2c;
      margin-bottom: 1.3em;
      margin-left: -2.3em;
  }
  #stories{
    margin-top: 40vh;
    margin-left: 6vw;
  }
  #stories li{
    margin-bottom: -22vh;
  }
  #stories h5{
    padding-bottom: -20vh;
  }


}


nav a:hover{
  color:#c83e2c;
}
#read-more{
  margin-left: -4em;
}
.card h3{
  margin-top: 1.5vh;
}
#stories img{
  margin-top: 1vh;
}
#stories .card{
  margin-bottom: 15vh;
  margin-top: 10vh;
  width:110%;
}
#content .mt-3{
  margin-bottom: 10vh;
  margin-left: 1.5vw;
}
#stories ul a:hover{
  color:#c83e2c;
}
#stories h3:hover{
  color:#c83e2c;
}

#top-panel {
  padding-top: 5vh;
}
#top-panel .card-header{
  height:15vh;
}
