.jumbotron{
  /* background-image: url("../img/jumbotron.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  height:101vh;
  width:100.6%;
  margin-left: -0.7vw;
  margin-top: -1vh;
}
.navbar-nav mr-auto{
  float:right;
}
/* Navbar animation */
.navbar {
  background-color: transparent;
  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 120%;
  color:#c83e2c;
  }

.top-nav-collapse {
  background-color: white;
  color:black;
}
.cls-1{
  fill:black;

}



#who{
  margin-bottom: 20vh;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 16px 2px;
  border-radius: 50%;
  margin-left: 3.5%;
  margin-top: 10vh;
}
.fa:hover {
    opacity: 0.7;
    color: black;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}



.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

#caption{
  margin-left: -2vw;
}
.parallax-window {
    min-height: 320px;
    Width:104.9%;
    margin-left: -5%;
    background: transparent;
}
#careers-button{
  margin-left: 7%;
}

.left{
  display:inline-block;
  padding:10%;
}

.fadehover {
	position: relative;
	}


.a {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
        }

.b {
	position: absolute;
	left: 0;
	top: 0;
	}

#team {
  font-size:370%;
  margin-top: 6%;
}
#image2{
  width:205%;
  margin-left: 3vw;
}
 #section3{
   color:black;
   margin-top:5%;
   font-size: 300%;
 }
  #joinus{
    margin-top: 3%;
    font-size: 160%;
    margin-bottom: 6%;
  }
  .card-img-fluid{
    width:70%;
    margin-bottom: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: -3%;
    margin-bottom: 30%;
    mix-blend-mode: multiply;

  }

  title{
    font-family: 'VegurRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 250%;
  }
  .card-block{
    height:140%;
    margin-bottom: 10vh;
  }
 svg {
   margin-left: 48.5%;
   margin-top: -110%;
   margin-bottom: -90%;
 }
  .testimonial {
    width:100%;
    border: none;
  }

  .card {
    border: 0;
    background-color: transparent;

  }
  .card-deck{
    width:90%;
    border: none;
    height:60vh;
    border: 0;
    background-color: transparent;
    padding-left:10%;
    margin-bottom: 10%;


  }
  .card-text{
    font-size: 100%;
    text-align: center;
    margin-left: 10%;
    width:80%;
  }
  .headshot{
    width:130%;
    margin-top: -18%;
    margin-left: -15%;

  }
#team3{
  width: 170%;
  margin-left: -36%;

}
#team4{
  width:190%;
  margin-left: -50%;
}
  #who-text{
    font-size: 165%;
  }
  .acumen{
    margin-left: 10vw;
  }
  .card-title{
    text-align: center;
    margin-top:-20%;
    font-family: 'VegurRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 250%;
  }
  .rounded-circle{
    width:75%;
    height:75%;
    margin-left: 15%;
    margin-top: 1%;
    margin-bottom: -3%;
    mix-blend-mode: multiply;
  }

  /* Gray Scale */
.hover08 figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover08 figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
h1+p a:hover {
	text-decoration: none;
}
h2 {
	margin: 60px 15px 0;
	padding: 0;
	font-weight: 300;
}
h2 span {
	margin-left: 1em;
	color: #aaa;
	font-size: 85%;
  margin-top: 10vh;
}
.column {
	margin: 5px 15px 0;
	padding: 0;
}
.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	width: 250px;
	height: 200px;
	margin: 0 0 0 25px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 200px;
	padding-top: 70vh;
	color: black;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
  margin-top: 60vh;
  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
  margin-left: -1vw;

}
.hover08 figure {
	width: 90%;
	height: 110%;
	margin: 0;
	padding: 10%;
	background: #fff;
	overflow: hidden;
  margin-top: 30px;
  border-radius: 70%;
  margin-bottom: 10px;
}
figure:hover+span {
	bottom: -126px;

	opacity: 1;
  width:100%;
}
#demo08{
  margin-bottom: 10vh;
  margin-left: 9%;
}

/* end of team grayscale */

.hover09 figure {
	width: 450px;
	height: 220px;
	margin: 0;
	padding: 2%;
	background: #fff;
	overflow: hidden;
  margin-top: 30px;

  margin-bottom: 10px;
}
.hover09 div {
	position: relative;
	float: left;
	width: 320px;
	height: 250px;
	margin: 0 0 0 25px;
	padding: 0;
}
.hover09 figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover09 figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}


.hover10 figure {
	width: 420px;
	height: 220px;
	margin: 0;
	padding: 2%;
	background: #fff;
	overflow: hidden;
  margin-top: 30px;

  margin-bottom: 10px;
}
.hover10 div {
	position: relative;
	float: left;
	width: 220px;
	height: 200px;
	margin: 0 0 0 25px;
	padding: 0;
}
.hover10 figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover10 figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.hover11 figure {
	width: 150%;
	height: 120%;
	margin: 0;
	padding: 2%;
	background: #fff;
	overflow: hidden;
  margin-top: 30px;

  margin-bottom: 10px;
}
.hover11 div {
	position: relative;
	float: left;
	width: 280px;
	height: 200px;
	margin: 0 0 0 25px;
	padding: 0;
}
.hover11 figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover11 figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.logo-title{
  margin-bottom: 5%;
}
  #partners div figure{
    padding-right:-500%;
    margin-left: 10%;
    width:380%;
  }
 .partners2{
   padding:8%;
   margin-left: 20%;;
   mix-blend-mode: multiply;
 }
  .partners{
    margin-bottom: -30vh;
    mix-blend-mode: multiply;

  }


h1{
  text-align:center;
  font-size: 400%;
  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;

}

#infographic{
  width:70%;
  margin-top:-15vh;
  }
.speech{
  font-size: 190%;
}
#cards{
  width:90%;
  margin-bottom: 8%;

}
#investor{
  margin-top: 20%;

}
#investor .column div{
  position: relative;
  width: 315px;
  padding: 0;
}
.AHL,.global,.acumen{
  margin-left: 40%;
}
.acumen{
  margin-left: 55%;
}
.AHL{
  margin-left: 6%;
}
.global{
  margin-left: 25%;
}


p{
  font-size: 145%;
  text-align: center;
  padding:1%;

  /* margin-right: 10%; */
}
.partner-logo{
  font-size: 210%;
}
h2 {
  text-align:center;
  font-size:275%;
  color:#c83e2c;
  margin-top:1%;
  margin-bottom:2%;
  margin-left: 10%;
  margin-right:10%;
  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 250%;
}
 .nav-link{
   font-size:90%;
   color:grey;
 }
.mytext{
  font-size: 110%;
  color:red;
}

#pagebreak{
  margin-bottom: -8vh;
  mix-blend-mode: multiply;
}
input{
  color:white;
}
h5{
  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 250%;
}
footer{
  background-color:#1C2331;
  height:12vh;
  margin-top: 20vh;

}
.card-header {
  background-color: #c83e2c;
}

.form-control {
    color: #fff;
}
#contact{
  width:60%;
  height:195%;
  margin-top: 3%;
  margin-bottom: 20%;
  color:white;
  opacity:0.9;

}
#headshots{
  margin-bottom: 3%;
  margin-left: 7%;
}
.form-control:focus {
  border-color: red;

}
.footer-text{
  margin-left: -13%;
  text-align: left;

  /* width:120%; */
}


#icon-container{
  margin-top: -6.2%;
}
.right {
    position: absolute;
    right: 0px;
    width: 300px;
    margin-top: -10%;
    padding: 10px;
}
.favicon{
  width:4%;
  height:5%;
  margin-left: 1vw;
  background-blend-mode: multiply;
  margin-bottom: 2%;
}
.subscribe{
  margin-left: 22vw;
}

.section2{
  width:300vw;
}


 #gradient{
   background: linear-gradient(
   to bottom,
   white,
   transparent);
   margin-top:12.5%;
   color:grey;
   background-color:black;
   width:102%;
   margin-left:-2vw;
   font-size:337%;
   opacity:0.66;

 }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: black;
    width:100%;

  }
  #navbarSupportedContent{
    font-size: 160%;

  }
  .navbar-toggler{
    color:black;
  }

  }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }


#logo{
  width:178%;
  margin-left: -6vw;
  margin-top: -1vh;
  margin-bottom: -1vh;
  mix-blend-mode: multiply;

}
#navbarSupportedContent{
  font-size: 160%;
}


.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: -3%;
  margin-bottom: -6%;
  mix-blend-mode: multiply;

}
#solution-section{
  margin-top: 10vh;
}
#solution{
  margin-top:100vh;
}

  .row{
    margin-top: 2%;
    margin-left: 2%;
  }

@media only screen and (max-width: 768px) {

  .navbar-toggler-icon {
    width: 45px !important;
    height:20px !important;
  }
  .navbar-toggler{
    margin-left: 100%;
    margin-top: -35%;
  }
  .jumbotron {

    background-image: url("../img/jumbotron.jpg");
    background-position: -180px 5px;
    width:103%;
  }
  #logo{
    width:35%;
    margin-top: -6vh;
    margin-left: -1vw;
  }
  #who {
    margin-top: 10%;
  }

  #headshots{
    margin-bottom: 10vh;
    margin-left: 20vw;
  }
  #partner-logo{
    margin-left:-20vw;
  }
#hover-partner{
  margin-left: 80vw;
}

  #infographic{
    width:105%;
    margin-top:-15vh;
    display: block;
    margin-left: -8%;;
    margin-right: auto;
    mix-blend-mode: multiply;
    }
    #solution{
      margin-top:100vh;
    }
   h1{
     text-align:center;
     font-size:105%;
     margin-top:10vh;
   }
   .center{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 90%;
     margin-top: -3%;
     margin-bottom: -6%;
     mix-blend-mode: multiply;

   }
   /* #section2{
     width:80%;
   } */
   #farmers{
     margin-top: 100vh;
   }
   .section2{
     width:50%;
   }
}


/* iphone 6/7/8 and plus  */
@media only screen and (min-width : 375px) and (max-width : 667px) {
    section{
      margin-top: -20%;;

    }
    h1{
      font-size: 250%;
      margin-bottom: 20%;

    }
    #pagebreak{
      width:100%;
      margin-top: -20%;
      margin-bottom: 10%;

    }
    .navbar{
      width:100%;
    }
    .jumbotron{
      width:100%;
      background-position: -260px 5px;
    }

    #navbarSupportedContent{
      font-size: 180%;
    }


    #careers-button{
      margin-bottom: 40%;
      margin-right: 25%;
      width:60%;
    }
    figure{
      mix-blend-mode: multiply;
      width:90%;
    }
      .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        margin-top: -3%;
        margin-bottom: -6%;
        mix-blend-mode: multiply;

      }
      .partner-content {
        font-size: 70%;
        margin-top: -8%;
      }
      .slide-text{
        font-size: 107%;
        margin-right: -5%;

      }
      .slide-text-finance{
        font-size: 100%;
      }

      .card-deck{
        height:auto;
        margin-left: -4vw;
      }

      .navbar-toggler .icon-bar {
        margin: 7px;
        display: block;
        width: 22px;
        height: 1px;
        background-color: #cccccc;
        border-radius: 1px;
      }
      .navbar-toggler{
        margin-left: 80%;
        margin-top: -12%;
      }
      .navbar-toggler-icon {
        width: 50px !important;
        height:37px !important;

      }

      #farmers{
        margin-top: 10%;
      }
      h2 {
        text-align:center;
        color:red;
        font-size:300%;
        margin-bottom:2%;
        margin-top:-3vh;
      }

      .hover08{
        margin-left: -20vw;
      }
      /* #infographic{
        width:100%;
        margin-left: -2%;

      } */
      #cards{
        margin-left: 2.5%;
      }
      #investor-logo{
        width:3%;
        margin-left:-14%;
      }
      #partner-logo{
        width:20%;
        margin-left: -2.5%;
        margin-bottom: -20vh;
      }
      .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        margin-top: -3%;
        margin-bottom: -6%;
        mix-blend-mode: multiply;

      }
      .acumen{
        margin-left: 40vw;
        margin-top: -35vh;
        margin-bottom: -90vh;
        width:122%;

      }
      .global{
        margin-top: -20vh;
        width:96%;
      }
      .AHL {
        margin-left: 28vw;
      }
      .investors{
        margin-bottom: 1vh;
      }
      #partner-title{
        margin-top: 10%;
      }
      #investor{
        height:-2vh;
      }


      #toyotalogo{
        margin-top: 2em;
      }
      #parallax-two{
        margin-top: -50vh;
      }
      #logo{
        width:35%;
        margin-top: -10vh;
        margin-left: -7vw;
      }
      iframe{
        margin-left: 10%;
        width:75%;
        height:280%;
      }
      #solution{
        margin-top:200vh;
      }
      #contact{
        width:90%;
        margin-top: -20%;
      }
      #team{
        margin-top: 3vh;
        font-size: 250%;
      }

      #who{
        margin-top: 10vh;
      }
      h2{
        font-size: 160%;

      }

      .footer-text{
        margin-left: 3%;
        text-align: left;
        /* width:120%; */
      }

      .favicon{
        width:10%;
        height:10%;
        margin-left: 4vw;
        background-blend-mode: multiply;
        margin-bottom: 2%;
      }
      .favicon-container{
        margin-left: -6.5vw;
      }
      .subscribe{
        margin-left: 20vw;
      }
      .logo-title{
        font-size: 240%;
        margin-top: -36vh;
      }

      #image2{
        width:100%;
        margin-left: -3vw;
      }
      #section3{
        margin-bottom: 26%;
      }
      #joinus{
        margin-left: 3%;
        margin-bottom: 10%;
      }

      .card-img-fluid{
        width:70%;
        height:auto;
        margin-bottom: 30%;
      }
      .right{
        margin-right: 20vw;
      }
      footer{
        height:45vh;
      }
      .footer input{
        width:79vw;
      }

}
/* iphone 5 media query */
@media only screen and (min-width: 320px) and (max-width: 568px)
and (-webkit-device-pixel-ratio: 2) and (aspect-ratio: 40/71)
{
  .navbar-toggler{
    margin-left: 60%;
    margin-top: 157%;
  }
  .navbar-toggler-icon {
    width: 44px !important;
    height:34px !important;
    margin-top: 5px;
    margin-left: 10px;

  }
  .testimonial{
    margin-left: -9vw;
  }
  #card2,#card3{
    margin-top: 70vh;
  }
  .navbar-nav{
    margin-top:10vh;
  }
  #partner-heading{
    font-size: 7vw;

  }
  #pictures figure {
  	width: 370px;
  	height: 300px;
  	margin: 0;
  	padding: 4%;
  	background: #fff;
  	overflow: hidden;
    mix-blend-mode: multiply;
  }
  #partners2 figure {
    width: 300px;
    height: 220px;
    margin: 0;
    padding: 4%;
    background: #fff;
    overflow: hidden;
    mix-blend-mode: multiply;
    margin-left: 30%;
    margin-top: 80%;
  }

  #solution{
    margin-top: -10vh;
  }
  #partner-text{
    margin-left: -5%;
    font-size: 97%;
    padding:4%;
  }

  #caption{
    margin-left: -30vw;
  }

  #headshots{
    margin-left: 30vw;
  }
  /* .headshot-size{
    margin-left: 10vw;
  } */

#pictures{
  margin-left: -40px;
  margin-top: 10%;
}
  #team{
    margin-top: 3vh;
    font-size: 250%;
  }
  .single-card{
    padding:7%;
  }
  .card{
    margin-top:60vh;
  }
  .card-deck{
    margin-left: -15vw;
  }
  .contact-card{
    margin-top: -8vh;
    width:130%;
    margin-left: -10vw;
  }
  #logo{
    width:35%;
    margin-top: -8vh;
    margin-left: -7vw;
  }
  .partner-content{
    font-size: 50%;
    margin-top: -12%;
  }
  .slide-text,.slide-text-finance{
    font-size: 120%;
    margin-right:-5vw;
  }
  .jumbotron{
    /* width:153%; */
    height:100vh;
    background-position: -4060px -400px;
    background-size: 900px 620px;
    background-repeat: no-repeat;

  }
  #bloomberg,#venture,#businessdaily,#agfunder,#nextbillion,#disruptafrica{
    width:16%;
  }

#businessdaily{
  margin-top: -30em;
}
#disruptafrica{
  margin-bottom: 10vh;
}
  #nextbillion{
    margin-top: -80vh;
  }
  #partner-logo{
    margin-right: 60vw;
  }
  .testimonial{
    margin-left: 10%;
  }
  .headshot-size{
    margin-left: -30vw;
  }
  .acumen,.global,.AHL{
    width:90%;
    margin-left: 2vw;

  }
  .global{
    margin-top: -30vh;
  }
  .acumen{
    margin-top: -45vh;
    width:120%;
    margin-left: 10%;
    margin-bottom: -20vh;
  }
  #parallax-two{
    margin-top: -60vh;
    margin-bottom: -20vh;
  }
  #partners2{
    margin-top: 94%;
    margin-left: -5vw;
    width:10%;
    margin-bottom: 10em;
  }



  .Mavuna{

    margin-top: -5vh;
    margin-left: 63%;
    position:relative;

  }
  .OCP{
    width:70%;
    margin-top: -1em;
    margin-bottom: -90em;

  }

#careers-button{
  margin-right: 60em;
  width:16em;
  margin-bottom: 20%;
  margin-top: 70em;

}

  h1{
    font-size: 290%;
  }
  h2{
    font-size: 150%;
  }
  .card-deck{
    margin-right: -70%;
    width:100%;
  }


  #headshots{
    margin-bottom: 10vh;
    margin-left: 20vw;
  }
  #navbarSupportedContent{
    font-size: 180%;
    margin-top: -5vh;
    margin-left: -2vw;

  }
  #focused{
    font-size: 130%;
    margin-top: 10vh;
  }

  .pagebreak2{
    margin-top: -1vh;
  }
  h1{
    font-size: 210%;
  }
  iframe{
    margin-left: 10%;
    width:75%;
    height:280%;
  }


  #toyotalogo,#Mavunalogo,#OCPlogo{
    width:110%;
    position:relative;
    margin-left: 120px;
  }

  section .column div {
  	position: relative;
  	width: 230px;
  	height: 230px;
  	margin: 2 -7 0 2px;
  	padding: 0;

  }
  #investor .column div{
    position: relative;
  	width: 260px;
  	height: 330px;

  	padding: 0;
  }
  .acumen{
    width:110%;
    margin-left: 19%;
    margin-bottom: -10vh;
  }
  .global{
    width:110%;
  }
  .AHL{
    width:110%;
  }
  #investor{
    margin-top: -17em;
    width:90%;
  }

  #caption{
    margin-left: -24vw;
    width:210%;
    margin-top: -20vh;
    margin-bottom: 20%;

  }
  .logo-title{
    width:110%;
    margin-left: -4vw;
  }
  #team-container{
    /* padding: -35%; */
    width:50%;
    margin-left: 12vw;
    margin-top: 10%;
  }

  #joinus{
    margin-top: -30%;
    font-size: 120%;
  }
  #section3{
    font-size: 210%;
  }
  #investor h2{
    width:12em;
    margin-top: 9em;
    margin-left: 0.5em;

  }
  #partner-logo{
    margin-bottom: -10vh;
  }
  #partner-title{
    margin-top: 33%;
  }
  #contact{
    margin-top: 12em;
  }
  .contact-card{
    margin-top: -30vh;
  }
  #last-section{
    margin-top: 8em;
  }
  .favicon{
    width:40px;

  }
  .favicon-container{
    margin-left: -1.5em;
  }

  .footer-text{
    margin-left: 1em;
  }
  footer{
    height:55vh;
    margin-bottom: -20%;
  }
  .footer input{
    width:79vw;
  }
  #who-text{
    font-size: 110%;
  }


}
/* galaxy s5 */
@media only screen and (max-width: 370px){
  .navbar-toggler{
    margin-left: 70%;
    margin-top: -15%;
  }
  .navbar-toggler-icon {
    width: 44px !important;
    height:34px !important;

  }
  .jumbotron{
    margin-left: 0.2%;
    background-position: -200px 5px;
  }

  .partner-content{
    font-size: 60%;
    margin-top: -10%;
  }

  .single-card{
    padding:7%;
  }

  .card{
    margin-top:60vh;
  }

  .card-deck{
    margin-left: 1vw;
  }

  .slide-text,.slide-text-finance{
    font-size: 122%;
    margin-right:-5vw;
  }

#image2{
  width:100%;
}
  #section2{
    width:75%;
  }
  #headshots{
    margin-bottom: 10vh;
    margin-left: -2vw;
  }

  #logo{
    width:35%;
    margin-top: -9.5vh;
    margin-left: -9vw;
  }

  #solution{
    margin-top:70vh;
  }
  iframe{
    margin-left: 10%;
    width:75%;
    height:280%;
  }
  h1{
    margin-top: -20vh;
    font-size: 260%;
    margin-bottom: 2%;
  }
  h2{
    font-size: 155%;
    margin-top: 12%;
  }
  #contact{
    margin-top: 10em;
  }
  .contact-card{
    margin-top: -9em;
    width:130%;
    margin-left: -9vw;
  }


  #cards{
    margin-bottom: 20vh;
  }
  .testimonial{
    height:350vh;
    margin-top: -60vh;
    margin-right: 30vw;

  }
  #partners2{
    margin-top: -80vh;
    margin-left: -20%;
    margin-bottom: 10%;
  }
  #careers-button{
    width:55%;
    margin-top: 10%;
    margin-bottom: 20%;
  }
  #partner-logo{
    margin-left: -10vw;
  }
  #toyotalogo, #Mavunalogo,#OCPlogo{
    width:85%;
  }
  #toyotalogo{
    margin-left: 30%;
  }
  #Mavunalogo{
    margin-top: -10vh;
    margin-left: 25%;
  }
  .OCP{
    margin-left: 33%;
    margin-top:-15%;
    margin-bottom: -290vh;
    width:100px;

  }
  #investor{
    margin-top: -63vh;
  }
  #investor-logo{
    margin-left: 2vw;
    margin-bottom: -10vh;


  }
  /* section .column div {
  	position: relative;
  	width: 380px;
  	height: 285px;
  	margin: 2 -7 0 2px;
  	padding: 0;

  } */

  .acumen{
    margin-left: 6em;
    width:95%;
    margin-top: -30vh;
  }
  .global{
    width:100%;
    margin-left: 9%;
    margin-top: -20vh;
  }
  .AHL{
    width:100%;
    margin-top: -5vh;
    margin-bottom: 25vh;
    margin-left: 13%;
  }
  #team-container{
    /* padding: -35%; */
    width:20%;
    margin-left: 4vw;
    margin-top: 10%;
  }

  #caption{
    margin-left: -16vw;
    font-size: 110%;
    margin-top: -40vh;
  }
  #parallax-two{
    margin-top: -50vh;
  }

  #partner-title{
    margin-top: 20%;
  }

  #Mavunalogo{
    margin-top: -5vh;
  }

  #OCPlogo{
    margin-top: -5vh;
  }

  #bloomberg,#venture,#businessdaily,#agfunder,#nextbillion,#disruptafrica{
    width:86%;

  }
  #nextbillion{
    margin-top: -10vh;
  }
  .headshot-size{
    width:90vw;
    margin-left: 7%;
  }
  #team-container .column div {
    width:30px;
    height:330px;

  }
  #joinus{
    margin-top: -15vh;
  }
  footer{
    height:50vh;
    margin-bottom: -20%;
  }
  .footer-text{
    margin-left: 2%;
  }



}

@media only screen
    and (max-width : 375px) and (-webkit-device-pixel-ratio : 3) {
      .jumbotron{
        width:99.99%;
        margin-left: 0.2%;
        background-position: -280px 5px;

      }

     }

     .view {
  height: 100%;
}
