.jumbotron{
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:101vh;
  width:102%;
  margin-left: -0.7vw;
  margin-top: -2vh;
}
.navbar-nav mr-auto{
  margin-left: -20vw;
}
/* Navbar animation */
.navbar {
  background-color: transparent;
  font-family: 'PT Sans Caption', sans-serif;}


.top-nav-collapse {
  background-color: #1C2331; }

#infographic{
  width:80%;
  margin-top:-20vh;
  }
p{
  font-size: 3vh;
  text-align: center;
  padding:2%;
}
h2{
  
  font-size: 250%;
  color:red;
}
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }




#logo{
  width:75%;
  margin-left: -8vw;
  margin-top: -10vh;
  margin-bottom: -10vh;

}
#navbarSupportedContent{
  font-size: 160%;
}

iframe{
  margin-left: 10%;
  margin-top: 5%;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: -3%;
  mix-blend-mode: multiply;

}
h1{
  font-family: 'PT Sans Caption', sans-serif;
  margin-top: 50%;
  color:red;
  font-size: 20vh;

  }

@media only screen and (max-width: 768px) {

  .navbar-toggler-icon {
    width: 45px !important;
    height:20px !important;
  }
  .navbar-toggler{
    margin-left: 80%;
    margin-top: -35%;
  }
  .jumbotron {

    background-image: url("../img/jumbotron.jpg");
    background-position: -180px 5px;
  }
  #logo{
    width:35%;
    margin-top: -6vh;
    margin-left: -1vw;
  }
  iframe{
    margin-left: 10%;
    width:75%;
    height:280%;
  }

}

/* iphone 6/7/8 and plus  */
@media only screen and (min-width : 375px) and (max-width : 667px) {

    .jumbotron{
      width:99.99%;
      margin-left: 0.2%;
      background-position: -260px 5px;

    }
      #navbarSupportedContent{
        font-size: 180%;

      }
      .navbar-toggler{
        margin-left: 80%;
        margin-top: -12%;
      }
      .navbar-toggler-icon {
        width: 50px !important;
        height:37px !important;

      }
      #logo{
        width:35%;
        margin-top: -10vh;
        margin-left: -7vw;
      }
      iframe{
        margin-left: 10%;
        width:75%;
        height:280%;
      }
}
/* iphone 5 media query */
/* @media only screen and (min-width: 320px) and (max-width: 568px)
and (-webkit-device-pixel-ratio: 2) and (aspect-ratio: 40/71)
{
  .navbar-toggler{
    margin-left: 80%;
    margin-top: -157%;
  }
  .navbar-toggler-icon {
    width: 44px !important;
    height:34px !important;
  }

  #logo{
    width:35%;
    margin-top: -8vh;
    margin-left: -7vw;
  }
  .jumbotron{
    width:99.99%;
    margin-left: 0.2%;
    background-position: -460px 5px;

  }
  #navbarSupportedContent{
    font-size: 180%;
    margin-top: -5vh;
    margin-left: -2vw;

  }
  iframe{
    margin-left: 10%;
    width:75%;
    height:280%;
  }
} */
/* galaxy s5 */
@media only screen and (max-width: 370px){
  .navbar-toggler{
    margin-left: 80%;
    margin-top: -15%;
  }
  .navbar-toggler-icon {
    width: 44px !important;
    height:34px !important;

  }
  .jumbotron{
    width:99.99%;
    margin-left: 0.2%;
    background-position: -200px 5px;

  }

  #logo{
    width:35%;
    margin-top: -9.5vh;
    margin-left: -9vw;
  }


  iframe{
    margin-left: 10%;
    width:75%;
    height:280%;
  }
  h1{
    margin-top: -10vh;
  }
}

@media only screen
    and (max-width : 375px) and (-webkit-device-pixel-ratio : 3) {
      .jumbotron{
        width:99.99%;
        margin-left: 0.2%;
        background-position: -280px 5px;

      }
     }
