

body{
  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
}
#press{
  margin-top: 10%;
  margin-left: 10vw;
  margin-bottom: 20vh;
}
#recognition a{
  color:grey
}
#recognition a:hover{
  color:#008f8a;
}
.vcenter {
  display: flex;
  align-items: center;
}

.investor-logos{
  margin: auto;
}
#all-partner-logos{
  margin: auto;
}
.container-fluid{
  display:flex;
  flex-wrap: nowrap;
}
#section3{
  color:#008f8a;
  font-size: 310%;
  margin-top: 4%;
}
/* styling for partner cards */
.single-card .card-title{
  font-size: 150%;
}

.single-card .card-text{
  text-align: left;
}

/* styling for testimonial cards */
#testimonial .card-text{
  font-size:110%;
}
/* jumbotron styling to position background image */
.jumbotron{
  background-size: cover;
  background-repeat: no-repeat;
  height:101vh;
  width:100.6%;
  margin-left: -0.7vw;
  margin-top: -1vh;
  background-position: 0px 50px;
}
/* styling to make jumbotron text position ontop of overlay */
#jumbotron-text{
  margin-top: 30%;
  color:#fff;
  font-size:265%;
  text-align: center;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  width:57%;
  padding-bottom: 4%;
  padding-top: 3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -6%;

}
/* jumbotron overlay to make text visible */
.layer {
  background-color: rgba(81, 76, 76, 0.12);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 96%;
}



/* styling to parallax images */
.parallax-window{
  margin-top: 10vh;
  background-position: 0px 100px;
}
#parallax-three{
  margin-bottom: -10vh;

}

#header-text{
  border-bottom: 3px solid white;
  width:50%;
}


.partner-logos{
  width:110%;
}

/* Recognition section */
.award{
  width:75%;
}
.awards h4{
  text-align: center;
  margin-left: -3vw;
}
.awards{
  width:90%;
  margin-top: 40vh;
}

/* navigation tabs */
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    border-color: #d45500;
    border-bottom-color: transparent;
}
.nav-tabs {
   border-bottom: 2px solid transparent;
}

.nav-tabs:hover{
  color:black;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #c83e2c;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid #c83e2c!important ;


}
.nav-tabs .nav-link {
    border: 0.1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #008f8a;
    font-size: 20px;
}


/* overlay styling in jumbotron */
.content .subheader {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    background-attachment: fixed;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(../js/backgroundsize.htc);
}

.content .subheader:after {
    content: "";
    background-size: 90%;
    background-attachment: fixed;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

.content .subheader h1 {
    position: relative;
    margin-top: 25%;
    z-index: 100;
}
.navbar-nav mr-auto{
  float:right;
}

nav a:hover{
  color:#c83e2c;
}
.nav-tabs a:hover {
  background-color: transparent;
  border-color: transparent transparent!important;
  border-bottom: 2px solid #c83e2c!important ;

}
body {
  position: relative;
}

/* svg line break */
#Layer_1{
  margin-bottom: 4%;
}

.navbar{
  background-color: white;
}

.nav-item a{
  font-size: 120%;
  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
  color:#008f8a;
  border: 2px solid transparent;
}

.top-nav-collapse {
  background-color: white;
  color:black;
}
.cls-1{
  fill:black;

}
.mit h4{
  margin-left: 10%;
}

#solution{
  padding: 8%;
  margin-top: -12vh;
}
#partner-text{
  margin-bottom: 5%;
}
#who{
  margin-bottom: 20vh;
}
/* styling for social media buttons in footer */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 16px 2px;
  border-radius: 50%;
  margin-left: 3.5%;
  margin-top: 10vh;
}
.fa:hover {
    opacity: 0.7;
    color: black;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

#caption{
  margin-left: -2vw;
}
.parallax-window {
    min-height: 320px;
    Width:104.9%;
    margin-left: -5%;
    background: transparent;
    min-height: 400px;
}



.left{
  display:inline-block;
  padding:10%;
}

  /* testimonial card two */
  #card2{
    margin-left: 30px;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #team {
    font-size:370%;
    margin-top: 6%;
  }

  /* text pertaining to joining the team underneath team headshots */
  #joinus{
    margin-top: 2%;
    font-size: 150%;
    margin-bottom: 3%;
  }

  .card-img-fluid{
    width:70%;
    margin-bottom: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3%;
    margin-bottom: 30%;
    mix-blend-mode: multiply;
  }
   /* red dot styling within testimonial cards */
  /* .single-card svg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: -3%;
    margin-bottom: -6%;
    mix-blend-mode: multiply;
  } */



  title{
    font-family: 'VegurRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 250%;
  }
  .card-block{
    height:140%;
    margin-bottom: 10vh;
  }

  .testimonial {
    width:95%;
    border: none;
    margin-left:54px;
    margin-top: 59px;
    margin-bottom: 10vh;
  }
  #scholar-waywa{
    margin-left: 3%;
  }

  .card {
    border: 0;
    background-color: transparent;
  }
/*
  .card-deck{
    width:97%;
    border: none;
    height:60vh;
    border: 0;
    background-color: transparent;
    margin-bottom: 20%;
  }

  .card-text{
    font-size: 110%;
    text-align: center;
    width:90%;
  } */

  .partner-list{
    margin-left:2px;
  }

  #press-logo{
    width:90%;
    margin-bottom: -4%;
    margin-top: -6%;
  }

  .headshot{
    width:133%;
    height:192%;;
    margin-top: -17%;
    margin-left: -16%;
  }

  /* #partner-cards{
    margin-bottom: -10em;
  } */
  #card1 img{
    width:100%;
  }

  #who-text{
    font-size: 135%;
    width:87%;
    margin-bottom: 4em;
  }
.joinus-text{
  margin-top: -10em;
}

  .acumen{
    margin-left: 10vw;
  }
  .card-title{
    text-align: center;
    margin-top:-20%;
    font-family: 'VegurRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 250%;
  }
  .rounded-circle{
    width:75%;
    height:75%;
    margin-left: 15%;
    margin-top: 1%;
    margin-bottom: -3%;
    mix-blend-mode: multiply;
  }

/* Gray scale hover specifically for the team photos */
  /* Gray Scale */
.hover08 figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover08 figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
h1+p a:hover {
	text-decoration: none;
}
h2 {
	margin: 60px 15px 0;
	padding: 0;

}
h2 span {
	margin-left: 1em;
	color: #aaa;
	font-size: 85%;
  margin-top: 10vh;
}

.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}

#demo08 .column div {
	position: relative;
	float: left;
	width: 300px;
	height: 250px;
	margin: 0 0 0 25px;
	padding: 0;
  /* margin-left: 20%; */

}
/* #demo08{
  margin:auto;
} */

/* Grayscale hover effect specifically for the logos section */
#logos-section .column div {
	position: relative;
	float: left;
	width: 50px;
	height: 200px;
	padding: 0;
}

#logos-section .hover08 figure {
	width: 53%;
	height: 98%;
	margin: 0;
	padding: 10%;
	background: #fff;
  border-radius: 70%;
  margin-bottom:10px;
  float:right;
}

#press-logo2 .column div {
	position: relative;
	float: left;
	width: 140px;
	height: 200px;
	padding: 0;
}
.column div {
	position: relative;
	float: left;
	width: 300px;
	height: 200px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 200px;
	padding-top: 70vh;
	color: black;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
  margin-top: 60vh;
  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
  margin-left: -1vw;

}
.hover08 figure {
	width: 83%;
	height: 98%;
	padding: 10%;
	background: #fff;
	overflow: hidden;
  margin:auto;
  border-radius: 70%;
  padding-bottom: -10em;

}
#demo08{
  margin-top: 30em;
}
figure:hover+span {
	bottom: -86px;
	opacity: 1;
  width:100%;
  margin-left: 1%;
}
#bob{
  margin-left: 4%;
}

/* end of team grayscale */

.footer{
  width:75%;
  margin-top: -10vh;
}

.nav-item a:hover {
    color:#c83e2c;
}

#news{
  margin-left: 6%;
  margin-top: -10%;
  margin-bottom: -10%;
}
#award{
  width:60%;
  margin-left: 10%;
  margin-bottom: 10%;
}
#awards-list{
  list-style: none;
  font-size:200%;
  margin-top: 6vh;
}
/* hover images styling for investor and partner logos */
.hover10{
  margin-top: 5%;
  margin-bottom: -10%;

}

.hover10 figure {
	width: 125%;
	height: 120px;
	margin: 0;
	padding: 2%;
	background: #fff;
	overflow: hidden;
  margin-top: 30px;
  margin-bottom: 10px;
}

 .hover10 figure #toyotalogo {
	width: 160px;
	height: 220px;
	margin: 0;
	padding: 2%;
	background: #fff;
	overflow: hidden;
  margin-top: 30px;
  margin-bottom: 10px;
}

#press-logo2 .hover10 figure {
	width: 160px;
	height: 170px;
	margin: 0;
	padding: 2%;
	background: #fff;
	overflow: hidden;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 1vw;
}
h3{
  text-align: center;
  color:#c83e2c;
}

.hover10 div {
	position: relative;
	float: left;
	width: 30px;
	height: 500px;
	margin: 0 0 0 0px;
	padding: 0;
}
.hover10 figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover10 figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.hover10 figure:hover+span {
	bottom: -36px;
	opacity: 1;
}
#our-partners{
  margin-top: 6%;
}

.logo-title{
  margin-bottom: 5%;
}
  #partners div figure{
    padding-right:-500%;
    margin-left: 10%;
    width:380%;
  }
 .partners2{
   padding:8%;
   margin-left: 20%;;
   mix-blend-mode: multiply;
 }
  .partners{
    margin-bottom: -30vh;
    mix-blend-mode: multiply;

  }
#contact-card{
  margin-bottom: 10vh;
}

#contact{
  padding-top: 10%;

}

h1{
  text-align:center;
  font-size: 350%;
  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
  color:#008f8a;
}
/* Collapse example on navbar */
#collapseExample,#collapseExample2{
  padding-top: 13%;
  margin-top: -20vh;
}
#infographic{
  width:70%;
  margin-top:-2vh;
  margin-bottom: -16vh;
  mix-blend-mode: multiply;
  }

.speech{
  font-size: 190%;
}


#investor{
  margin-top: 20%;

}
#investor .column div{
  position: relative;
  width: 315px;
  padding: 0;
}

.form-control{
  color:white;
}

p{
  font-size: 145%;
  text-align: center;
  padding:1%;

}
.partner-logo{
  font-size: 210%;
}
h2 {
  text-align:center;
  color:#c83e2c;
  margin-top:1%;
  margin-bottom:2%;
  margin-left: 10%;
  margin-right:10%;
  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 200%;
}
 .nav-link{
   font-size:90%;
   color:grey;
 }
.mytext{
  font-size: 110%;
  color:red;
}

#pagebreak{
  margin-bottom: -8vh;
  mix-blend-mode: multiply;
  width:110%;
}
input{
  color:white;
}
h5{
  font-family: 'VegurRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 250%;
}


.card-header {
  background-color: #008f8a;
  height:50%:
}

#awards{
  width:70%;
}

.form-control {
    color: #fff;
}
#contact{
  width:60%;
  height:195%;
  padding-top: 12%;
  margin-bottom: 20%;
}

#headshots{
  margin-bottom: 3%;
  margin-left: 7%;
}
.form-control:focus {
  border-color: red;

}
#partner-cards .card-title{
  color:#008f8a;
}

.partner-list{
  width:120%;
}
#card1{
  margin-bottom: -60em;
}

#icon-container{
  margin-top: -6.2%;
}
.right {
    position: absolute;
    right: 0px;
    width: 300px;
    margin-top: -10%;
    padding: 7px;
    margin-left: -80px;
}
.left {
    position: absolute;
    left: 0px;
    width: 300px;
    margin-top: -10%;
    padding: 10px;

}

/*
 #our-investors{
   margin-bottom: -8%;
 } */
 /* .investor-logos{
   margin-top: 5vh;
 } */
#press{
  /* margin-top: 8em; */
  margin-bottom: -10vh;
}
#press-section{
  margin-top: 10em;
}
.dark-blue-text,.fa-bars {
    color: #c83e2c;

}
#partner-cards .card-text{
  font-size: 130%;
  width:90%;
}
#partner-cards .card-title{
  font-size: 190%;
}
#partner-heading{
  margin-top: 6em;
}

.page-footer {
  background-color: #1C2331;

}

#logo{
  width:90%;
  margin-left: 5%;
  margin-top: -1vh;
  margin-bottom: -1vh;
  mix-blend-mode: multiply;
}

#navbarSupportedContent{
  font-size: 160%;
}

.testimonial .card-text{
  font-size:90%;
  margin-left: 8%;
}
.testimonial #emmanuel{
  margin-left: 4%;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: -3%;
  margin-bottom: -6%;
  mix-blend-mode: multiply;
}

.footer{
  width:100%;
}
#partner-section-one{
  margin-bottom: -12em;
}
input::placeholder {
  color:white;
}
#parallax-three{
  min-height:900px;
  margin-bottom: -17em;
  margin-top: 10%;

}
#contact-card{
  margin-bottom: 1em;
  margin-top: -5em;
}
footer{
  margin-top: 7em;
}



@media only screen
and (min-device-width: 1366px)
and (max-device-width: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
  .mit h4{
    margin-left: 15%;
  }
  #solution{
    margin-top: -4%;
  }

}

@media only screen and (max-width: 1208px) {
  .navbar {
    background-color: black;
    width:100%;

  }
  #navbarSupportedContent{
    font-size: 160%;

  }
  .navbar-toggler{
    color:black;
  }
  #partner-cards{
    margin-bottom: -3em;
  }

  }

@media screen and (max-width: 1199px) {
  #logo{
    width:60%;
  }
  .dark-blue-text,.fa-bars {
      color: #c83e2c;
      margin-top: -0.5em;
  }
  /* #press{
    margin-top: 13em;
  } */
  #demo08{
    margin-top: -2em;
  }
  #solution{
    margin-top: -10em;
  }
  #jumbotron-text{
    margin-top: 3.2em;
  }
  .layer{
    height:25em;
  }
  #solution{
    margin-top: -3em;
  }
}


@media screen and (max-width: 1158px) {
  #press-section{
    margin-top: 23em;
  }
  /* #partner-cards{
    margin-bottom: 5em;
  } */
}

@media screen and (max-width: 1120px) {
  #press-section{
    margin-top: 23em;
  }
  /* #press{
    margin-top: 15em;
  } */

  }
  /* #partner-cards{
    margin-bottom: 3em;
  } */
}
/*


@media screen and (max-width: 1063px)  {
  #demo08 .column div {
  	position: relative;
  	float: left;
  	width: 100%;
  	height: 250px;
  	margin: 0 0 0 25px;
  	padding: 0;

  }
} */

@media screen and (max-width:1043px){

#our-investors{
  /* margin-top: 0.5em; */
  /* margin-bottom: 1em; */
}
#testimonial{
  margin-top: 5em;
}
#solution{
  margin-top: -3.5em;
}
}

@media screen and (max-width:1024px){
  #who{
    margin-top:10%;

  }
  .layer{
    height:96.5%;
  }

  #press{
    margin-bottom: 2%;
  }
  #partner-heading{
    margin-top: 27%;
  }
  #jumbotron-text{
    margin-top: 30%
  }


  #trio-team{
    /* margin-top: -12em; */
    margin-left: -3em;
  }
  #for-our-partners ul{
    font-size:100%;
    /* width:140%; */
    /* margin-left: -20%; */
  }




}


@media screen and (max-width:1018px){

  /* #demo08 .column div {
    position: relative;
    float: left;
    width: 110%;
    height: 250px;
    margin: 0 0 0 25px;
    padding: 0;

  } */
   .nav-tabs{
    width:100%;
    margin-left: -10vw;
    font-size: 1%;
    text-align: left;
    }

}


@media only screen and (max-width:993px){
  /* #press{
    margin-top: 17em;
  } */

  #press-logo .hover10 figure {
  	width: 50%;
  	height: 180px;
  	margin: 0;
  	padding: 2%;
  	background: #fff;
  	overflow: hidden;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 18vw;
  }
  #demo08 .column div {
    position: relative;
    float: left;
    width: 115%;
    height: 210px;
    margin: 0 0 0 25px;
    padding: 0;

  }

  #all-partner-logos{
    margin-left:-15vw;
  }
  #all-investor-logos{
    margin-left: -7vw;
  }

  #partner-cards .card-text{
    width:110%;
    margin-left: -10%;
  }
#venture{
  width:1100%;
}
#new-press{
  margin-left: -17vw;
}
#recognition-section{
  margin-left: 18vw;
}
#recognition-section #facebook{
  margin-left: 1vw;
}
#mit-award h4{
  margin-top:-1%;
}
/* .investor-logos #our-partners{
  margin-top: 5em;
} */
#all-partner-logos{
  margin-left: -10%;
}

}

@media screen and (max-width:986px){
  #icons{
    margin-left: -2em;
    width:19em;
  }
  footer ul{
    margin-left: -30em;
    font-size: 10%;
    width:120%;
  }
  #demo08{
    margin-top: -7em;
  }
  .nav-tabs{
  width:100%;
  margin-left: -10vw;
  font-size: 1%;
  text-align: left;

  }
  .nav-item{
    width:60%;

  }
}
@media screen and (max-width:943px) and (max-width:911px){

  /* #press{
    margin-top: 19em;
  } */
  .nav-tabs{
  width:100%;
  margin-left: -10vw;
  font-size: 1%;
  text-align: left;

  }
  .nav-item{
    width:60%;

  }
}
@media screen and (max-width:879px){
  #partner-cards .card-title{
    font-size: 160%;
  }
  #partner-cards .card-text{
    font-size: 120%;
  }
  .nav-tabs{
  width:100%;
  margin-left: -10vw;
  font-size: 1%;
  text-align: left;

  }
  .nav-item{
    width:60%;

  }
  #partner-cards{
    margin-bottom: -20em;
  }
}
@media screen and (max-width:848px) and (max-width:800px){

  /* #press{
    margin-top: 23em;
  } */
  #solution{
    margin-top: -3em;
  }
  .nav-tabs{
  width:100%;
  margin-left: -10vw;
  font-size: 1%;
  text-align: left;

  }
  .nav-item{
    width:60%;

  }
  #partner-cards{
    margin-bottom: -10em;
  }

}
@media screen and (max-width:798px) {
  #partner-cards{
    margin-bottom:-20em;
  }
  #partner-cards .card-text{
    width:120%;
    margin-left: -10%;
  }
  .nav-tabs{
  width:100%;
  margin-left: -10vw;
  font-size: 1%;
  text-align: left;

  }
  .nav-item{
    width:60%;

  }

}
/* #partner-cards{
  margin-bottom:20vh;
} */
#partner-cards .card-text{
  width:110%;
  margin-left: -10%;
}

}

@media screen and (max-width:767px){
  #copyright{
    margin-left: -23em;
  }
  #footer-text{
    margin-left: 2em;
  }
  .hover08 figure {
    width: 82%;
    height: 72%;
    margin: auto;
    padding: 10%;
    background: #fff;
    overflow: hidden;

    border-radius: 70%;

  }

  figure:hover+span {
    bottom: -12em;
    opacity: 1;
    width:160%;
    margin-left: -7vw;
    font-size: 90%;
  }

  #awards img{
    width:40%;
    margin-left: 27%;
  }
  /* #our-investors{
    margin-top: 12%;
  } */

  .awards{
    margin-top: 70%;
  }

}


@media only screen and (max-width: 768px){

  .layer{
    height:97%;
  }


  footer{
    height:110%;
  }

  #all-investor-logos{
    margin-top: -10%;
    margin-left: 2%;
  }
  #all-partner-logos{
    margin-left: 3%;
  }
  #press{

    margin-bottom: 0.3em;
    margin-left: -2%;
  }
  #testimonial .card-text{
    width: 110%;
  }

  .dark-blue-text,.fa-bars {
      color: #c83e2c;
      margin-bottom: 3em;

  }
  .hover08 figure{
    width:90%;
    height:100%;
    margin-top: 37.5%;
    /* margin-left: 10%; */
  }
  figure:hover+span {
    bottom: -11em;
    opacity: 1;
    width:120%;
    margin-left: -2vw;
    font-size: 90%;
  }
  #who{
    margin-top: 10%;
  }
  #solution{
    margin-top: 10%;
  }
  #testimonials .card-body h4{
    font-size: 178%;
    width:105%;
  }
  #testimonials h4{
    font-size: 210%;
  }
  #demo08{
    margin-left: 1%;
    margin-top: -40%;
  }
  #trio-team{
    margin-top: -17em;
    margin-bottom: 8em;
    margin-left: -5%;
  }
  #jumbotron-text{
    margin-top: 7.8em;
  }
  #facebook-award {
    margin-top: 5em;
    margin-left:-7em;
    text-align: center;
  }
  #recognition {
    margin-left: -1%;
  }
  #facebook{
    width:90em
  }
  #press-title{
    margin-top: 2em;
  }
  .investor-title{
    margin-top: 4em;
  }


}
@media screen and (max-width:743px){
  #demo08{
    margin-top: 1em;
  }
  figure:hover+span {
    bottom: -9em;
    opacity: 1;
    width:160%;
    margin-left: -10vw;
    font-size: 110%;
  }
  #demo08 h4{
    font-size: 110%;
  }
  .nav-tabs{
  width:100%;
  margin-left: -10vw;
  font-size: 1%;
  text-align: left;

  }
  .nav-item{
    width:60%;

  }

  #solution{
    margin-top: 7%;
  }
  #who{
    margin-top: 10%;
  }
  #demo08{
    margin-top: -16%;
  }

}
@media screen and (max-width:736px){

  #testimonial .card-text{
    width:110%;
  }
  #testimonial {
    margin-bottom: -11em;
  }
  #jumbotron-text{
    margin-top: 1.9em;
  }
  #partner-heading{
    margin-top: 2.5em;
  }
  #awards img{
    margin-left: 30%;
  }
  #footer-text{
    margin-top: 13%;
    margin-bottom: -30em;
  }
  #copyright{
    margin-top: -10%;
  }
  #icons{
    margin-top: -10%;
  }
  footer .container{
    margin-left: 5%;
  }
  #logo{
    width:50%;
  }
  #who{
    margin-top: -5em;
  }
}
@media screen and (max-width:724px){


  #partner-heading{
    margin-top: 4em;
  }
  .nav-tabs{
  width:100%;
  margin-left: -10vw;
  font-size: 1%;
  text-align: left;

  }
  .nav-item{
    width:60%;

  }
}

@media screen and (max-width:703px){
  #who{
    margin-top: 3em;

  }
  #demo08{
    margin-top: -10em;
  }

}
@media screen and (max-width:672px){

#demo08 .column div {
margin-top: 1em;
margin-bottom: 20em;
}
#demo08 h4{
  font-size: 100%;
}
figure:hover+span {
  bottom: -9em;
  opacity: 1;
  width:160%;
  margin-left: -10vw;
  font-size: 130%;
}
#joinus{
  margin-top: 5em;
}
.nav-tabs{
width:100%;
margin-left: -10vw;
font-size: 1%;
text-align: left;

}
.nav-item{
  width:60%;

}

}

@media screen and (max-width:667px){

  #demo08{
    margin-top: -4.8em;
  }
  #testimonial .card-text{
    width:110%;
    font-size: 100%;
    text-align: center;
  }
  #testimonial {
    margin-bottom: -16em;
  }
  #jumbotron-text{
    font-size: 140%;
    margin-top: 30%;
  }
  .layer{
    height:90%;
  }


  #logo{
    width:40%;
  }

}
@media screen and (max-width:640px){

  .nav-tabs{
  width:100%;
  margin-left: -10vw;
  font-size: 1%;
  text-align: left;

  }
  .nav-item{
    width:60%;

  }
  #who{
    margin-top: -5%;
  }
}
@media screen and (max-width:610px){


.nav-tabs{
width:100%;
margin-left: -10vw;
font-size: 1%;
text-align: left;

}
.nav-item{
  width:60%;
}
#trio-team{
  margin-top: -13em;
}
#trio-team figure{
  width:100%;
  height:90%;
}
figure:hover+span {
  bottom: -6em;

}
#recognition{
  margin-left: 4%;
}



}

@media screen and (max-width:581px){
  .hover08 figure {
  	width: 68%;
  	height: 72%;
  	margin: 0;
  	padding: 10%;
  	background: #fff;
  	overflow: hidden;
    margin-top: 30px;
    border-radius: 70%;
    margin-bottom:2em;
    margin-top: 12em;
  }
  figure:hover+span {
    bottom: -16em;
    opacity: 1;
    width:160%;
    margin-left: -13vw;
    font-size: 80%;
  }
  .nav-tabs{
  width:100%;
  margin-left: -10vw;
  font-size: 1%;
  text-align: left;

  }
  .nav-item{
    width:60%;

  }
}
@media screen and (max-width:575px){

  #demo08 .column div {
    position: relative;
    float: left;
    width: 77%;
    height: 60%;
    margin: 0 0 0 25px;
    padding: 0;
    margin-left: 18%;

  }

  figure:hover+span {
    bottom: -12em;
    opacity: 1;
    width:160%;
    margin-left: -18vw;
    font-size: 180%;
  }
  .hover08 figure {
  	width: 93%;
  	height: 195%;
  	margin: 0;
  	padding: 10%;
  	background: #fff;
  	overflow: hidden;
    margin-top: 30px;
    border-radius: 70%;
    margin-bottom:1em;
    margin-top: 1em;
  }

  #press-logo{
    margin-left: 8%;


  }

  #testimonial .card{
    padding-bottom: 45em;
    width:70%;
  }
  #testimonial {
    margin-top: 6em;
    margin-left: 20%;
  }
  .rael-sang .card-text{
    margin-left: 10%;
  }
  #scholar-waywa .card-text{
    margin-left: 4vw;
  }
#card2{
  margin-left:-0.5em;
}
#emmanuel{
  margin-left: 2em;
}
#infographic{
  width:100%;
  margin-bottom:10%;
}
#who{
  margin-top: 10%;
}

#card1{
  margin-bottom: 35em;
  width:65%;

}


#demo08 .column div {
  position: relative;
  float: left;
  width: 70%;
  height: 30%;
  margin: 0 0 0 25px;
  padding: 0;
  margin-left: 14%;
  margin-bottom: -10em;


}
#partner-heading{
  margin-top: 2em;
}
#icons{
  margin-left: -3em;
  margin-top: -3em;
}
footer ul{
  margin-bottom:-30em;
  margin-top: 3em;
  width:125%;
}

.nav-tabs{
width:100%;
margin-left: -10vw;
font-size: 1%;
text-align: left;

}
.nav-item{
  width:60%;

}
#copyright{
  margin-left: -17em;

}
#footer-text{
  margin-left: 14%;

}
.icons{
  margin-left: 14%;
}
#demo08{
  margin-top: 10em;
}
/* #new-press{
  margin-left: 0.2em;
} */
#trio-team figure{
  height:200%;
}
#trio-team{
  margin-top: 10%;
  margin-left: 10%;
}
#press-logo2 .row{
  margin-left: 3.3em;
}
#our-partners-one{
  margin-left: -2.5em;
  margin-bottom: -2em;
}
#all-partner-logos{
  padding-bottom: 20%;
}
#press-title{
  margin-right: 3em;
}
/* #bloomerg-techmoran{
  margin-right: -30vw;
} */


}


@media screen and (max-width:568px){
  .dark-blue-text,.fa-bars {
      color: #c83e2c;

      margin-left: -4em;
  }
  #jumbotron-text{
    margin-top: 6em;
  }
  /* #partner-cards{
    margin-left: 25%;
    margin-bottom: 125em;
  } */
  #testimonial .card-text{
    margin-left: -1em;
  }
  #emmanuel{
    margin-left: -0.5em;
    width:90%;
  }
  /* #press{
    margin-top: 67em;
  } */
}
@media screen and (max-width:534px){
  #solution{
    margin-top: 3em;

  }
  .nav-tabs{
  width:100%;
  margin-left: -10vw;
  font-size: 1%;
  text-align: left;

  }
  .nav-item{
    width:60%;

  }
}
@media only screen and (max-width:515px){

  #copyright{
    margin-left: -40vw;
    margin-top: 10%;
  }
  #footer-text{
    margin-left: 14%;

  }
  .icons{
    margin-left: 14%;
  }
}
@media screen and (max-width:492px){


  #demo08 h4{
    font-size: 90%;
    margin-top: -6em;
    margin-left: 10%;
  }

  .nav-tabs{
  width:100%;
  margin-left: -10vw;
  font-size: 1%;
  text-align: left;

  }
  .nav-item{
    width:60%;

  }
  }
@media screen and (max-width:475px){

  #testimonial .card{
    padding-bottom: 49em;
    width:70%;
  }
  #testimonial {
    margin-top: 6em;
    margin-left: 20%;
  }
  .rael-sang .card-text{
    margin-left: 10%;
  }
  #scholar-waywa .card-text{
    margin-left: 4vw;
  }
#card2{
  margin-left:-0.5em;
}
#emmanuel{
  margin-left: 2em;
}
#infographic{
  width:100%;
  margin-bottom:10%;
}
#who{
  margin-top: 10%;
}
#press-title{
  margin-left: 3em;
}
.right-press{
  margin-left: -2em;;
}
#all-partner-logos{
  margin-left: -1.6em;
}
.fa-bars{
  margin-bottom: 1em;
}

/* #press-logo .hover10 figure {

  margin-left: -1vw;
} */
/* #all-partner-logos{
  margin-right: 6em;
}
#all-investor-logos{
  margin-right: 6em;
} */

.nav-tabs{
width:100%;
margin-left: -10vw;
font-size: 1%;
text-align: left;

}
.nav-item{
  width:60%;

}
#new-press{
  margin-left: -10%;
}
#trio-team figure{
  height:180%;

}

}
@media screen and (max-width:436px){
#facebook-row{
  margin-left: 0.7em;
  width:20em;
}
#facebook-row h4{
  margin-top: -1em;
  margin-left: -12%;
  font-size: 170%;
}
#mit-row h4{
  width:100em;
}
#recognition h4{
  width:100em;
}
#mit-row img{
  width:14em;
}
#mit-row h4{
  margin-top: -3em;
}
#mit-row figure{
  width:90em;
}
#recognition{
  margin-left: -1%;
}
#trio-team figure{
  height:100%;
}
#trio-team{
  margin-left: -10%;
}
figure:hover+span {
  bottom: -8em;
  opacity: 1;
  width:160%;
  margin-left: -18vw;
  font-size: 140%;
}
#who{
  margin-top: 20%;
}

}

@media screen and (max-width:414px){
  #who{
    margin-top: 6em;
  }


  #testimonial .card-text{
    margin-left: -0.7em;
  }
  #emmanuel{
    margin-left: 0.3em;
    width: 90%;
  }
  #testimonial .card{
    margin-bottom: -7em;
  }
  #jumbotron-text{
    margin-top: 10em;
    font-size: 210%;
    width:100%;
  }
  #press-logo{
    margin-top: -20em;
  }
  #testimonial{
    margin-bottom: -36em;
  }
  #footer-text{
    margin-top: -3em;
    margin-left: 0.8em;
  }
  #copyright{
    margin-top: -2em;
    margin-left: -32%;
  }
  #icons{
    margin-left: -25%;
  }
  .footer{
    width:80%;
  }
  #logo{
    width:40%;
  }
  .dark-blue-text,.fa-bars {
      color: #c83e2c;
      margin-bottom: 2em;
      margin-left: -1em;
  }
  #solution{
    font-size: 95%;
    margin-top: 20%;
  }
  #awards img{
    margin-left: 1.5em;
  }
  figure:hover+span {
    bottom: -6em;
    opacity: 1;
    width:120%;
    margin-left: -10vw;
    font-size: 150%;
  }

  #trio-team figure{
    height:90%;

  }


  #demo08{
    margin-top: -5em;
  }


  #press-logo h2{
    margin-top: 10%;
  }
  #press-logo{
    margin-top: -15%;
  }
  #press-logo2{
    margin-top: 20%;
  }
  #contact-card{
    margin-left: 5%;
  }
  .investor-title{
    margin-top: 10vh;
  }
  #press-title{
    margin-right: 18vw;
    margin-top: 20em;
  }
  #bloomerg-techmoran{
    margin-left: 100em;
  }



}


@media screen and (max-width:411px){
  #contact-card{
    width:105%;
  }
  #copyright{
    margin-left: -20%;
  }
  #partner-cards{
    margin-left: 23%;
  }
}

@media screen and (max-width:400px){
  #testimonial{
    padding-bottom:25em;
    margin-left: 18%;
  }

  #demo08 .column div {
    position: relative;
    float: left;
    width: 94%;
    height: 63%;
    margin: 0 0 0 25px;
    padding: 0;
    margin-left: 10%;

  }
  figure:hover+span {
    bottom: -6em;
    opacity: 1;
    width:160%;
    margin-left: -30vw;
    font-size: 120%;
  }
  #demo08{
    margin-left: 3.5%;
  }
  #who{
    margin-top: 6em;
  }
  #solution{
    margin-top: 5em;
  }


  #partner-heading{
    margin-top: 3em;
  }
  #jumbotron-text{
    margin-top: 4em;
    font-size: 200%;
  }
  #logo{
    width:60%;
  }
  figure:hover+span {
    bottom: -6em;
    opacity: 1;
    width:160%;
    margin-left: -32vw;
    font-size: 120%;
  }

  .nav-tabs{
  width:100%;
  margin-left: -10vw;
  font-size: 1%;
  text-align: left;

  }
  .nav-item{
    width:60%;

  }
  .icons{
    margin-left: 10%;
  }
  #footer-text{
    margin-left: 6%;

  }
  #copyright{
    margin-top: -3em;
  }



}
@media screen and (max-width:375px){
  #contact-card{
    width:110%;
  }
  #logo{
    width:50%;
  }

  #jumbotron-text{
    margin-top: 110%;
  }
  #footer-text{
    margin-left: 1%;
  }
  #copyright{
    margin-left:-18%;
  }
  #icons{
    margin-left: -16%;
  }
  #press{
    margin-left: 16%;

  }
  #press-logo{
    margin-left: 1.5%;
  }

  .dark-blue-text,.fa-bars {
      color: #c83e2c;
      margin-bottom: 1.3em;
      margin-left: 1em;
  }
  #awards img{
    margin-left: 1.5em;
  }

  #testimonial .card-text{
    margin-left: -0.5em;
  }
  #emmanuel{
    margin-left: 0.3em;
  }
  #testimonial .card {
    height:90%;
    margin-top: 10%;
  }

  #partner-cards .card-title{
    font-size: 160%;
  }

  .footer{
    width:70%;
  }
  #all-investor-logos{
    margin-left: 16%;
  }
  figure:hover+span {
    bottom: -5em;
    opacity: 1;
    width:110%;
    margin-left: -14vw;
    font-size: 180%;
  }
  #press-section{
    margin-left: 3%;
  }
  #card2{
    margin-left: 2%;
  }
  #demo08{
    margin-top: -5em;
  }

  #press-container{
    margin-top: -16em;
    margin-bottom: 13em;
  }
  #trio-team figure{
    width:80%;
    height:80%;
  }
  #trio-team{
    margin-left: 2vw;
  }
  .investor-title{
    margin-top: 12%;
  }
  #for-our-partners{
    margin-top: 13%;
  }


}
@media screen and (max-width:360px){

  #partner-cards .card-title{
    font-size:160%;
  }
  #partner-cards .card-text{
    width:134%;
    margin-left: -18%;
  }

  #logo{
    width:50%;
  }
  #testimonials{
    margin-left: 4%;
  }

  .investor-logos{
    width:80%;
    margin-left: 1.3em;
  }

  #contact-card h5{
    font-size: 220%;
  }
  .facebook{
    margin-top: 10%;
  }
   #trio-team figure {
    width: 83%;
    height: 85%;
    margin-left: 5%;

  }
  #trio-team span{
    font-size: 170%;
  }

  figure:hover+span {
    bottom: -6em;
    margin-left: -10vw;
    font-size: 170%;
  }
  #trio-team{
    margin-left: -6vw;
  }

#press-logo h2{
  margin-top:3em;
}
#press-logo{
  margin-top: -7em;
}
#new-press{
  margin-left: -0.3%;
}
#press-logo2{
  margin-left: 2em;
}
#all-investor-logos{
  margin-left:0.7vw;
}
#our-partners-one{
  margin-left: -5vw;
}


}
@media screen and (max-width:320px){
  #testimonial .card{
    margin-bottom: -6%;
  }

  #emmanuel{
    margin-left: 2%;
  }

  #copyright{
    margin-left: -14.5%;
  }
  #footer-text{
    margin-top: -14%;
    margin-left: -2%;
  }
  #icons{
    margin-left: -20%;
  }
  #contact-card h5{
    font-size: 190%;
  }
  .title{
    font-size: 310%;
  }

  #jumbotron-text{
    margin-top: 10em;
  }
  #logo{
    width:35%;
  }
  .dark-blue-text,.fa-bars {
      color: #c83e2c;
      margin-bottom: 1.3em;
      margin-left: 1.3em;
  }


  .footer{
    width:80%;
  }
  #copyright{
    margin-top: 0.2%;
    margin-bottom: 4%;
  }
  #testimonial{
    margin-left: 3.4em;
  }

  figure:hover+span {
    bottom: -6em;
    opacity: 1;
    width:110%;
    margin-left: -10vw;
    font-size: 110%;
  }
  #demo08{
    margin-top: -5em;
  }
  #trio-team{
    margin-right: 2vw;
  }
  #trio-team figure{
    height:80%;
  }
  .investor-logos{
    margin-left: 0.5%;
  }
  #press-logo2 #our-partners{
    margin-left: 0.8em;
  }
  .investor-title{
    margin-right:-8%;
  }
  #new-press{
    margin-right: 4vw;
  }
  /* #our-partners-one{
    margin-left: -1.2em;
    padding-top: 13%;
  } */

}


/* styling for contact card section */
#contact-section input::placeholder{
  color:#008f8a;
  font-size: 130%;
}
#contact-section input{
  color:black;
}
#contact-section textarea::placeholder{
  color:#008f8a;
  font-size: 130%;
}
#contact-section .card{
  background-color: #fff!important;
}
#awards a:hover{
  color:#d3d1d1;
}
#awards a{
  color:black;
}

#for-our-partners .card-title{
  color:#008f8a;
  font-size: 171%;
}
#for-our-partners{
  padding-bottom:3%;
}

#for-our-partners li{
  font-size: 120%;
}
#testimonials p{
  font-size: 2.5vh;
}

#testimonials .card-title{
  font-size: 190%;
}
#testimonials{
  width:90%;
}

#demo08{
  margin-top: -10%;

}
