

figure:hover+span {
	bottom: -17.5vw;
	opacity: 1;
  width:107%;
  margin-left: -1vw;
}


h3{
  text-align: center;
  color:#c83e2c;
}


@media only screen and (max-width: 768px){

  figure:hover+span {
    bottom: -4.9em;
    opacity: 1;
    width:110%;
    margin-left: -2vw;
    font-size: 3vh;
  }


}

@media screen and (max-width:743px){

  figure:hover+span {
    bottom: -9em;
    opacity: 1;
    width:160%;
    margin-left: -10vw;
  }
}

@media screen and (max-width:672px){

  figure:hover+span {
    bottom: -7em;
    opacity: 1;
    width:160%;
    margin-left: -10vw;
  }
}

@media screen and (max-width:610px){

  figure:hover+span {
    bottom: -6em;
  }
}

@media screen and (max-width:581px){

  figure:hover+span {
    bottom: -16em;
    opacity: 1;
    width:160%;
    margin-left: -13vw;
    font-size: 80%;
  }

}
@media screen and (max-width:575px){

  figure:hover+span {
    bottom: -6em;
    opacity: 1;
    width:160%;
    margin-left: -18vw;

  }

}




@media screen and (max-width:436px){

figure:hover+span {
  bottom: -8em;
  opacity: 1;
  width:160%;
  margin-left: -18vw;

}


}

@media screen and (max-width:414px){

  figure:hover+span {
    bottom:-10em;
    opacity: 1;
    width:113%;
    margin-left: -10.5vw;

  }


@media screen and (max-width:400px){

  figure:hover+span {
    bottom: -6em;
    opacity: 1;
    width:160%;
    margin-left: -32vw;
    font-size: 120%;
  }
}
